[2015-06-19 20:51] stealed opened #1 "Problem integrating with an ssl application"
Hi!
I used your library to encrypt some properties and it works and the application runs fine. But when I enable SSL in the application it won't work, the application start and all request works, but if i add the HTTPS doesn't return anything. If I remove the @EnableEncryptableProperties from the Application class the SSL works as expected, do you have any clue about whats could be happening? I re

[2015-06-19 21:32] ulisesbocchio commented on #1
Hi! Do you have sample app where the error is happening? Do you get a any errors? Can you share your SSL config? I'll setup the sample app with an HTTPS sample endpoint to se what happens but I don't know from the top of my head what could be causing the issue.
Thanks for using the library!
Best,
Uli

[2015-06-20 08:43] carguel opened #2 "Beans with @EnableConfigurationProperties are not properly instanciated."
Hi,

I found an issue when using jasypt-spring-boot with a Spring configuration bean mapped from an application.yml file (see §23.7 at http://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html).

When @EnableEncryptableProperties is set, the configuration bean is not properly created. Properties of this bean that map a collection from the YAML file are not se

[2015-06-20 10:53] ulisesbocchio commented on #2
Alright, I see what you mean, thanks for the example. Let me take a look at what's going on and I'll come back to you soon

[2015-06-20 17:24] ulisesbocchio commented on #2
It should work now. I noticed something strange in your demo app ItemConfig.java. @EnableConfigurationProperties should be declared in your Main.java and you should remove @Configuration. Also, @Value annotation should exist in @ConfigurationProperties annotated classes. What you need to do is to define setters for the properties to get properly populated.
I changed the Demo app in my repo to refl

[2015-06-20 20:23] carguel commented on #2
Nice, my demo works perfectly now with your changes.

Thanks a lot.

[2015-06-20 20:23] #2 closed

[2015-06-22 13:10] stealed commented on #1
We just added this properties, as the spring boot documentation says:
server.ssl.key-store = ssl_file.jks
server.ssl.key-store-password = asdasd
server.ssl.key-password = qwerty
Everything works fine with this configuration and SSL is enabled in the right way. If i add the @EnableEncryptableProperties the ssl wont load and the app will work without ssl..

[2015-06-22 13:40] stealed commented on #1
Just tested with the spring boot sample https://github.com/spring-projects/spring-boot/tree/master/spring-boot-samples/spring-boot-sample-tomcat-ssl, I added the dependency, the annotation and a password and it fail.

Greetings!

[2015-06-22 16:50] ulisesbocchio commented on #1
Alright let me give that a try and I'll come back to you shortly.

[2015-06-22 20:21] ulisesbocchio commented on #1
Alright, I just did the what you suggested and it works. I added an SSL demo project for you to try it out here https://github.com/ulisesbocchio/jasypt-spring-boot/tree/master/jasypt-spring-boot-demo-tomcat-ssl. Keep in mind that during the weekend I added support for multiple PropertySource implementations that may have fixed the issue you were having most likely due to the way the server.ssl.* p

[2015-06-23 13:35] stealed commented on #1
Yeah!, It works now! Thanks! What was the problem? I can see that you add a few more classes. How is that the server.ssl.* props aren't loaded in the same way than the others?

[2015-06-23 19:39] ulisesbocchio commented on #1
Great! Thanks for your feedback.
Before I was just wrapping the most basic PropertySource class. But it turns out there are other subclasses such as EnumerablePropertySource and MapPropertySource that need to be wrapped properly also. I also added a proxy mode that uses CGLib proxies to intercept the PropertySource.getProperty(String) method that could be activated with property: jasypt.encryption

[2015-06-23 19:39] #1 closed

[2015-07-01 09:15] iwaterman opened #3 "Hi, When running the demo, I got a 'WARN' message, it can be solved?"
2015-07-01 17:09:53.382  WARN 82640 --- [           main] o.s.c.a.ConfigurationClassEnhancer       : @Bean method EnableEncryptablePropertySourcesConfiguration.enableEncryptablePropertySourcesPostProcessor is non-static and returns an object assignable to Spring's BeanFactoryPostProcessor interface. This will result in a failure to process annotations such as @Autowired, @Resource and @PostConstru

[2015-07-01 17:04] ulisesbocchio commented on #3
You can ignore that. It's just saying that the `BeanFactoryPostProcessor` I'm using to decorate the property sources into encryptable ones is not declared static in the `Configuration` class and that `@Autowired`, `@Resource` and `@PostConstruct` annotations will be ignored within the post processor.
You can add this line to your `logback.xml` configuration for the message to go away:
```<logger n

[2015-07-01 19:17] #3 closed

[2015-07-02 00:43] iwaterman commented on #3
it's ok, thank you for your reply!

[2015-07-02 01:04] iwaterman opened #4 "Hi, is it possible to remove "encrypted.property" config, and auto detect "ENC " statement?"
if i want to encrypt the datasource password, now the two configuration below is needed:

spring.datasource.password=ENC(+Nrx10OneKdA9VvXGXkyaxWzNHt+sQ46)
spring.datasource.password.property=

Stand on the common user side, i just feel a little strange, it is possible to use the format
spring.datasource.password.property=+Nrx10OneKdA9VvXGXkyaxWzNHt+sQ46

or
spring.datasource.password=ENC(+Nrx10One

[2015-07-02 01:29] iwaterman commented on #4
sorry, it's my mistake, only the configuration

spring.datasource.password=ENC(+Nrx10OneKdA9VvXGXkyaxWzNHt+sQ46)

is work. sorry again.

jasypt-spring-boot is great!

[2015-07-02 17:37] ulisesbocchio commented on #4
Cool, great that it works for you buddy. Let me know if you have any other issues

[2015-07-02 17:37] #4 closed

[2015-07-15 12:55] hohwille opened #6 "no release available"
Your solution looks promising and I would like to use it (https://github.com/oasp/oasp4j/issues/279)

Will there be a release available in maven central?
There are not even tags in your git where to build a reliable version from.
Your documentation states that maven will download from the specified dependency but there is no such release. Am I missing something?

[2015-07-15 13:20] hohwille commented on #6
BTW: Why dont you provide your work as PR for jasypt?

[2015-07-16 01:39] ulisesbocchio commented on #6
I could provide PR for Jasypt, not sure how long it'd take to get it in if you need this right away. I haven't really gotten the time to go through the process of getting the library into maven central. Do you have any experience with it? I've never done it myself. I'll create a release tag with the latest stable version. The documentation says explicitly that the library is not in maven central a

[2015-07-16 06:57] hohwille commented on #6
Yep:
http://central.sonatype.org/pages/ossrh-guide.html

[2015-07-16 06:59] hohwille commented on #6
Right. Seems that I only read what I expected and wanted to read. Sorry for that.

[2015-07-16 07:07] hohwille opened #7 "Performance waste due to decrypting each secret 34 times instead of once"
I set a breakpoint into EncryptablePropertySource and figured out that it is called many times for the same property. So I added this line inside the inner if block (Line 17):
[code]

When I startup my simple spring boot application with only a single datasource I get this output:

Decrypting value of property spring.datasource.password
Decrypting value of property spring.datasource.password
Decry

[2015-07-16 07:23] ulisesbocchio commented on #6
no problem man. I'll take a look at the maven central upload process and try to get it there. I've been meaning to, just haven't had the time yet.

[2015-07-16 07:40] ulisesbocchio commented on #7
Yeah, I'm aware of this. The encryptable property source just wraps the original one. If you access the property source N times the property will be decrypted N times (i.e. using the Environment). The rationale behind this decision is that I don't know what kind of custom PropertySource implementations are out there, nor Spring knows, so I can't cache the returned values as a general solution. I c

[2015-07-16 09:04] hohwille commented on #7
I am just using spring-boot with hibernate. There is no bean in MY code that gets a data-source injected.

[2015-07-17 22:59] #7 closed

[2015-07-20 00:42] ulisesbocchio commented on #6
Version 1.2 is in Central now

[2015-07-20 00:42] #6 closed

[2015-07-20 07:38] hohwille commented on #7
For the record: This is fixed in spring-boot and the fix will come with version 1.3.0.

[2015-08-05 06:51] hohwille commented on #6
http://repo1.maven.org/maven2/com/github/ulisesbocchio/jasypt-spring-boot-starter/1.2/
:+1: thanks mate

[2015-08-11 20:15] candrews opened #8 "Configuration metadata"
It would be awesome if jasypt-spring-boot supported configuration metadata http://docs.spring.io/spring-boot/docs/current/reference/html/configuration-metadata.html so documentation and IDE assistance are available for the various properties (jasypt.encryptor.password, jasypt.encryptor.algorithm, etc) which this project supports.

I can imagine this improvement being implemented in 1 of 2 ways:
*

[2015-08-11 21:58] ulisesbocchio commented on #8
Alright man, I'll take a look. Also, contributions more than welcome :)

[2015-10-01 04:35] udaykiran26 opened #9 "Unable to decrypt property when PropertySourcesPlaceholderConfigurer is used"
My application is using  netflix.archaius component to listen to dynamic changes to properties file. The properties file contains few jasypt encrypted properties. The application uses @EnableEncryptableProperties and required dependencies.

But encrypted properties are not being  decrypted  when  below class i.e. PropertyResourceConfig is present in the application. Decryption works fine if I remo

[2015-10-01 15:00] ulisesbocchio commented on #9
Alright buddy. I'll take a look. What version of archaius are you using? I can tell you right now that since you're declaring you're own property sources placeholder configurer that's basically the problem. Try this:
Create a public static method annotated with @Bean that injects ConfigurableEnvironment as argument. Initialize your property source there and add it to the environment using environm

[2015-10-01 15:04] ulisesbocchio commented on #9
If you really really want to use property place holder configurer there's an encryptable properties placeholder configurer in jasypt-spring-31 for which you don't need jasypt-spring-boot. The purpose of jasypt-spring-boot is to avoid having to declare property placeholder configurers explicitly

[2015-10-02 16:30] udaykiran26 commented on #9
Hi Ulisesbocchio,

Thanks for looking into the issue.

Following archaius version has been used in my application.

com.netflix.archaius:archaius-core:0.7.1

As you suggested , I update the code with EncryptablePropertySourcesPlaceholderConfigurer(encryptor). Here is the updated code. Unfortunately it is not working.

@Bean(name = "configFileEncryptor")
	@Autowired
    static public StringEncrypto

[2015-10-02 16:44] ulisesbocchio commented on #9
Do you have a sample project in github that I can look at?

[2015-10-02 21:07] ulisesbocchio commented on #9
Alright buddy, try this:
[code]

There's some weird dependency between ConfigurableEnvironment and the way the default PropertySourcesPlaceholderConfigurer work. Im my sample application, if I just add the property source to the environment the properties are there, but the default PropertySourcesPlaceHolderConfigurer is unable to find the properties. This way both things work.

[2015-10-03 00:11] ulisesbocchio commented on #9
You can do this too:
[code]

Basically providing the Environment Object on the spring application builder with your property source already on it

[2015-10-07 03:00] shakahub opened #10 "Java7 compatible"
Is there a Java7 version for jasypt-spring boot?

[2015-10-07 16:38] ulisesbocchio commented on #10
There's no Java 7 version unfortunately. Some of the code in this library uses some Java 8 features like Lambda Expressions and Streams.
Is there a reason why you can't compile and run your Spring Boot app in Java 8?

[2015-10-07 17:50] ulisesbocchio commented on #9
where you able to figure this out? Do you need any extra help?
I'm closing this issue

[2015-10-07 17:50] #9 closed

[2015-10-13 07:41] hohwille opened #11 "overriding jasypt properties (e.g. jasypt.encryptor.password) not possible"
The whole story about spring-boot application properties is its flexibility. See here:
http://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html

Now, when I add your jasypt-spring-boot-starter as a dependency I can not start the application without having ```jasypt.encryptor.password``` set even if I have no encrypted password configured anywhere. This makes

[2015-10-13 17:13] ulisesbocchio commented on #11
Hey jorg. Once you enable jasypt-spring-boot the password property is required as specified in the documentation. Why would you import the library or add the annotation if you don't have any encrypted properties? For test purposes you don't need to add the @enableencryptableproperties annotation. I suggest you create a spring config class for your tests. That's always a better approach than using

[2015-10-14 13:05] hohwille commented on #11
@ulisesbocchio thanks for your response.
* I do not have an enrcyptable properties annotation anywhere in my project
* I added jasypt-spring-boot-starter and that is sufficient to make spring fail on strartup without anything else.
* I do not want to use password encryption for test configs and local development. I want to use it for test-, acceptance- and production-environments.
* If I remove th

[2015-10-14 16:56] alerat opened #12 "Warn Message from Spring Boot after upgrading to 1.2.6.RELEASE"
After upgrading to Spring Boot 1.2.6.RELEASE, i have the following warn message in the logs :

```@Bean method EnableEncryptablePropertySourcesConfiguration.enableEncryptablePropertySourcesPostProcessor is non-static and returns an object assignable to Spring's BeanFactoryPostProcessor interface. This will result in a failure to process annotations such as @Autowired, @Resource and @PostConstruct

[2015-10-14 17:03] #12 closed

[2015-10-14 17:04] alerat commented on #12
Same as 3

[2015-10-14 19:33] ulisesbocchio commented on #11
Alright buddy, you can add this to your Test Config when you don't want encryptable properties:
```@EnableAutoConfiguration(exclude = JasyptSpringBootAutoConfiguration.class)```
To effectively exclude the auto configuration, and you won't get an error.
I'm still looking into the issue you mention overriding existing properties, hang on...

[2015-10-14 19:59] ulisesbocchio commented on #11
Alright so I was able to override any of the properties in the jasypt-spring-boot-demo app from either application.yml and encrypted.properties through the command line using JVM args. For instance:
 `-Djasypt.encryptor.poolSize=20 -DitemConfig.items[0].name=NEW_NAME -Dsecret.property=UNENCRPYPTED`

[2015-10-15 08:56] hohwille commented on #11
Thanks for the hints, mate.
I can confirm that it is working properly if I launch the application directly as JAR or bootified WAR with
[code]
However if the WAR gets deployed to a tomcat and I add the system property to the tomcat launch then the bug occurrs. I even verified with ps that the system property is really set:
[code]
Next I will check if that is a general problem so overriding other p

[2015-10-15 15:48] ulisesbocchio commented on #11
Alright buddy, I see what the problem is now. How are you passing the properties to tomcat?
Yo have some options, but I recommend either use tomcat/conf/catalina.properties or by creating a setenv.sh file in tomcat/bin. Then in setenv.sh you'll do something like this:
```export JAVA_OPTS="-Djasypt.encryptor.poolSize=20 -DitemConfig.items[0].name=NEW_NAME -Dsecret.property=UNENCRPYPTED"````

[2015-10-15 19:32] ulisesbocchio commented on #11
I tested passing the password to the jasypt-spring-boot-demo-tomcat-ssl demo app packaging it as a WAR and rewriting SampleTomcatSslApplication with this:
[code]

And I was able to set the password through a system property just fine running tomcat from IntelliJ Idea 13. Under VM options I specified `-Djasypt.encryptor.password=password` in the run configurations. Internally, IntelliJ is using `ca

[2015-10-15 23:12] #10 closed

[2015-10-15 23:14] ulisesbocchio commented on #11
Alright, version 1.3 should be in Central soon, I added lazy initialization of the StringEncryptor up until the first encrypted property is decrypted. So in case there are no "ENC(xxxx)" properties not setting any of the required properties won't prevent your application from working.

[2015-10-15 23:14] #11 closed

[2015-10-16 06:08] hohwille commented on #11
As I said if you run the WAR directly with spring boot there is no problem. The problem only happens when you run a regular tomcat and have the WAR deployed in tomcat/webapps/.

Awesome. Thanks buddy, that is cool!

[2015-10-16 07:37] hohwille commented on #11
For the record I used ```setenv.sh``` so that is not the solution.

[2015-10-16 11:28] hohwille commented on #11
I addded this to the config:

Then I started tomcat and got this:

So, the default behaviour of spring boot is correct. However setting ```jasypt.encryptor.password``` via System-Property does not work when using external tomcat (it seems that it does not even work if there is no default set in ```application.properties```).

[2015-10-16 16:43] ulisesbocchio commented on #11
can you please take a look at at [jasypt-spring-boot-demo-tomcat-ssl](/ulisesbocchio/jasypt-spring-boot/tree/master/jasypt-spring-boot-demo-tomcat-ssl)?
I changed the configuration to package it as a WAR. I'm using tomcat tomcat 8.0.9 in Mac. I throw the WAR into `$tomcat_home/webapps` and the create a file `$tomcat_home/bin/setenv.sh` with this inside:
[code]
Then, I run tomcat with `$tomcat_home

[2015-10-29 05:40] mmrath opened #13 "Placeholder replacement in xml context files does not work"
Not sure if it is allowed to work. but this config does not work
[code]

I see the value property is not decrypted.

[2015-10-29 14:38] ulisesbocchio commented on #13
Can you provide a little more context? I'm not sure what you're trying to do and how you're configuring your Spring Boot application. Do you have a sample project on Github where you have this issue?

[2015-10-29 15:49] gunnarr-u opened #14 "Library can breaks jdk1.7 projects"
Throws java.lang.UnsuppotedClassVersionError

[2015-10-29 16:48] ulisesbocchio commented on #14
There was a previous issue about this. This Library is written and compiled for Java 8. If you're using Spring Boot there's no reason for being on Java 7 so let me ask you, why are you running on Java 7?

[2015-10-29 22:43] mmrath commented on #13
@ulisesbocchio I have uploaded a sample test repo at https://github.com/mmrath/jasypt-sb-test

When you run the example it prints
Simple bean valueENC(PBnDZTzdWSIhTDcM9+vcHmeUQjVBvTyJ)

instead of
Simple bean valuepassword

[2015-10-30 02:07] curiousElf commented on #14
I have the same issue. And as for the reason - client constraints. For a bunch of unsubstantiated reasons, they do not want to upgrade to java 8 as of now.

[2015-10-30 03:01] ulisesbocchio commented on #13
Alright buddy you can use Spring EL this way to inject the property in your bean:
[code]
Regardless of this, I found the problem after some debugging of Spring code. It turns out my Ordered post processor that decorates property sources needed to implement PriorityOrdered instead, and be of HIGHEST precedence to be able to decorate the property sources before the PropertySourcesPlaceHolderConfigur

[2015-10-30 03:01] #13 closed

[2015-10-30 05:01] mmrath commented on #13
Thanks @ulisesbocchio . I guessed something to do with the post processor. I had the work around  of using SPEL.

[2015-10-30 05:26] ulisesbocchio commented on #14
Alright, I'll see if I can back port it in a different branch with a qualifier for Java7. Shouldn't take too long

[2015-10-30 17:57] ulisesbocchio commented on #14
version 1.4-java7 should be in central soon

[2015-10-30 17:57] #14 closed

[2015-10-30 21:52] ulisesbocchio commented on #8
I've added the configuration properties metadata "Automanually". the processor dashes property names with camel  case so I had to edit after generation. Not sure how the IDE will pick up the Javadoc. I haven't release this so if you can checkout the code, build a SNAPSHOT and test that'd be great.

[2015-10-30 21:52] #8 closed

[2015-11-01 04:35] curiousElf commented on #14
Thanks!

[2015-11-05 11:23] dskrashchuk opened #15 "Not working for spring xml configurations (java7)"

[2015-11-05 11:25] #15 closed

[2015-11-06 19:00] charlesrgould opened #16 "Post processor @Bean should be marked static"
Thanks for creating this project. Quick observation.

Starting an application gives me this warning:

[code]

See [@Bean Javadoc](http://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/context/annotation/Bean.html), section titled `BeanFactoryPostProcessor-returning @Bean methods`

[2015-11-06 19:16] charlesrgould commented on #16
[https://github.com/ulisesbocchio/jasypt-spring-boot/blob/master/jasypt-spring-boot/src/main/java/com/ulisesbocchio/jasyptspringboot/configuration/EnableEncryptablePropertySourcesConfiguration.java#L66](https://github.com/ulisesbocchio/jasypt-spring-boot/blob/master/jasypt-spring-boot/src/main/java/com/ulisesbocchio/jasyptspringboot/configuration/EnableEncryptablePropertySourcesConfiguration.java#

[2015-11-06 19:40] ulisesbocchio commented on #16
Yeah, I'm aware of this. It's a Spring Lifecycle issue that doesn't affect the lifecycle of the beans of this project. You can shut off the warning by adding this to your logback.xml:
[code]
I'm looking into a different way to bootstrap Jasypt intro Spring Boot that will eventually avoid this issue.

[2015-12-18 00:56] japako opened #17 "jasypt password visible when passed as argument or System property"
When an application is started in a way that is demonstrated below

    java -jar target/jasypt-spring-boot-demo-0.0.1-SNAPSHOT.jar --jasypt.encryptor.password=password

    java -Djasypt.encryptor.password=password -jar target/jasypt-spring-boot-demo-0.0.1-SNAPSHOT.jar

a linux user can see it by listing currently running processes. I belive that it could be solved with command:
    export MY_PAS

[2015-12-18 02:03] ulisesbocchio commented on #17
yeah, sorry, I wish Spring Boot property sources would be smart enough to automatically replace _ with . for ENV variables since . is not permitted in ENV variables.
You can solve this quickly by creating application.properties or application.yml and adding:
[code]
or in YAML
[code]
basically what this does is to define the `jasypt.encryptor.password` property that points to a different property `

[2015-12-18 09:27] japako commented on #17
HI,

That will work then. Looks like a good solution.

On 18 December 2015 at 02:03, Ulises Bocchio <notifications@github.com>
wrote:

--
Regards,
Bartosz Jablonski

[2016-01-06 01:41] #17 closed

[2016-01-27 16:55] ffalcinelli opened #18 "Decrypted value ends with "=""
I'm experiencing a very strange issue. When using encrypted password with an Oracle datasource

[code]

I always get an Invalid username/password error:

[code]

It works in plaintext. So I've wrote a very simple controller just for testing purposes, this is the controller code

[code]

while this is the custom configuration made in Application class (1to1 copy from the project readme)

[code]
Thi

[2016-01-28 03:43] ulisesbocchio commented on #18
The problem is your Encryption endpoint and the way you're invoking it. You're taking the whole body (`@RequestBody String test`) as input in your endpoint, and when doing the curl, you're sending it as FORM data by default (without specifying content-type).
So when you capture the Request Body in your endpoint and is converted to String, Spring finds that you only defined one parameter `mytext` t

[2016-01-28 03:43] #18 closed

[2016-01-28 06:48] ffalcinelli commented on #18
No words... You're right and I'm feeling totally silly! I'm sorry for having wasted your time, thank you a lot!

[2016-01-28 14:30] frank780117 opened #19 "I use spring but not use spring boot"
Hi,

I want to custom spring @propertySource annotation for jasypt.

but it's hard for me, and I find this project.

The project so cool, but I use spring 4, not use spring boot,

can this project use for spring?

if can, give me a point or some hint, I want use this.

[2016-01-28 18:44] ulisesbocchio commented on #18
No worries man, glad I could help. If you like the library please give it a star.
Best,
Uli

[2016-01-28 18:51] ulisesbocchio commented on #19
Yeah, doesn't matter wether you use spring boot or not actually. You can follow the steps in the Readme and use jasypt-spring-boot without using the starter jar which basically is:
- add the jasypt-spring-boot dependency to your project's maven or gradle config.
- add the `@EnableEncryptableProperties` annotation to your main configuration class
That's it, now all your property sources should supp

[2016-01-28 18:51] #19 closed

[2016-02-01 20:40] gunnarr-u commented on #14
Thanks

[2016-02-03 11:54] passionlim opened #20 "stringEnryptor should not be created by a type in BeanFactoryPostProcessor."
Instantiating a bean by a type in a spring BeanFactoryPostProcessor is quite dangerous because of an instantiate order. This order could be difference for each spring configuration. So stringEncryptor in EnableEncryptablePropertySourcesPostProcessor should be create by a name to avoid bean creation dependency.

`
    private <T> PropertySource<T> makeEncryptable(PropertySource<T> propertySource, C

[2016-02-03 19:02] ulisesbocchio commented on #20
Hi buddy thanks for your concern but I don't think it makes a lot difference in this case wether you do this:
`StringEncryptor encryptor = registry.getBean(beanName, StringEncryptor.class);`
or this:
`StringEncryptor encryptor = registry.getBean(StringEncryptor.class);`

Regardless of the implementation of `getBean(name, type)` and `getBean(type) `the bean needs to be already instantiated for you

[2016-02-10 14:03] passionlim commented on #20
Thank you for a long reply.
I think that the situation is not sufficiently described.

In my case, I try to use mybatis, mybatis-spring for a persistence layer and jasypt-spring-boot for db property encryption. an expected senarios are below.

 1) jasypt-spring-boot decrypt database connecion info in PropertySources in Spring Envrionment.
 2) The decrypted db connection infos are used to create Da

[2016-02-10 18:02] ulisesbocchio commented on #20
Thanks for the explanation. It makes sense. As I said in my previous comment, the only side effect seems to be for FactoryBean beans which unfortunately is your case, so I will fix this.
In terms of the fix, I have a few options to consider:
- By name as you suggested
- ListableFactoryBean provides methods that allow to specify whether to initialize FactoryBean beans when searching for a bean of a

[2016-02-12 02:58] ulisesbocchio commented on #16
This is fix as of version 1.6, enjoy

[2016-02-12 02:58] #16 closed

[2016-02-12 03:01] ulisesbocchio commented on #20
I followed your advice and am retrieving encryptor bean by name as of version 1.6. I just released it to central so it might take some time until it's available. Please review the documentation if you need to specify a custom encryptor as you now have to specify a bean name.

[2016-02-12 03:01] #20 closed

[2016-02-12 05:08] charlesrgould commented on #16
Thanks!

[2016-02-15 13:00] passionlim commented on #20
great work!! thanks

[2016-03-10 21:07] wimdeblauwe opened #21 "How to use jasypt.encryptor.password in Hibernate @TypeDef ?"
I am using jasypt-spring-boot and it works great for encypting properties in property files by passing `--jasypt.encryptor.password=mysecretpassword`.

Is it also possible to use that property in the Hibernate annotation?

I currently have this:
[code]

But that is obviously not very convenient as it hardcodes the password in the code.

[2016-03-10 21:19] wimdeblauwe commented on #21
Never mind. Just found it myself.

First declare a `@Bean` in a `@Configuration` class like this:

[code]

Then change the `@TypeDef` annotation to:

[code]

Then in your entity:

[code]

[2016-03-10 21:19] #21 closed

[2016-03-10 21:24] ulisesbocchio commented on #21
Cool, so it allows you to reference the encryptor by name in the TypeDef but, what picks it up from the Spring Context? Just curious, since you are using "setRegisteredName" it seems that there's a registry being kept somewhere.

[2016-03-11 12:00] wimdeblauwe commented on #21
I have no idea how it works internally. I used the [documentation about the hibernate integration](http://www.jasypt.org/hibernate.html) on the Jasypt website to come to this.

[2016-04-18 14:13] chenrui333 opened #22 "Does it work with vanilla Spring 4/5"
I did not see Jasypt have official support for Spring 4/5, but when I tried to include `@EnableEncryptableProperties` and `@EncryptablePropertySource`, it does not work as expected.

[2016-04-18 18:52] ulisesbocchio commented on #22
It should work, `@EnableEncryptableProperties` imports some configuration that registers a `BeanFactoryPostProcessor` to decorate property sources present in the Environment.
`@EncryptableProperty` source is simple, it just enables one specific property source with jasypt capabilities.
Do you have (or can create) a test app in Github where the problem manifests?

[2016-04-18 18:54] chenrui333 commented on #22
@ulisesbocchio Thanks for the reply.
I will upload a sample later.

But I saw the spring-boot package get used in the `EnableEncryptablePropertySourcesPostProcessor.java`, could it be a problem?

[2016-04-18 19:16] chenrui333 commented on #22
Here is ref repo:
https://github.com/chenrui333/jyspert-spring-sample

The command line to run is `./gradlew appRun`

[2016-04-19 11:52] 6Niner opened #23 "jasypt-spring-boot overrides custom jasyptStringEncryptor bean"
Hi,
I am using the approach No. 2 stated by you in your documentation. The issue I am facing is that I see this in the logs:
Overriding bean definition for bean 'customBean': replacing [Root bean: class [com.test.Config]; scope=; abstract=false; lazyInit=false; autowireMode=3; dependencyCheck=0; autowireCandidate=true; primary=false; factoryBeanName=null; factoryMethodName=stringEncryptor; initMet

[2016-04-19 14:05] chenrui333 commented on #22
`jasypt-spring-boot` does not work with vanilla Spring as properties source loading is different,
Spring Boot used `PropertySourceLoader`, while vanilla Spring  used `PropertySourcesPlaceholderConfigurer`

[2016-04-19 16:29] ulisesbocchio commented on #22
Alright, let me take a look at your project...sorry for the delay

[2016-04-19 17:55] chenrui333 commented on #22
Thanks.

[2016-04-20 14:38] chenrui333 commented on #22
Any update?

[2016-04-20 17:20] ulisesbocchio commented on #22
I'll get back to you today... sorry for the delay

[2016-04-20 20:18] ulisesbocchio commented on #22
You're missing this in your TestConfig:

[code]

That's mandatory if you want to enable PropertySources in general. Basically, without that bean, not even  Spring's `@PropertySource` annotation works. In Spring Boot, there's an auto configuration for it in `org.springframework.boot.autoconfigure.PropertyPlaceholderAutoConfiguration`

[2016-04-20 20:18] #22 closed

[2016-04-20 20:21] chenrui333 commented on #22
Let me re-try it.

[2016-04-20 20:31] chenrui333 commented on #22
Another quick question is that whether I can use gradle to setup system property that it can be picked up by Spring configuration.

[2016-04-20 23:00] ulisesbocchio commented on #22
you gotta pass the system property to tomcat or whatever servlet container you're using when you run your application if you use it out of the box. Otherwise you can define your own SpringEncryptor bean and retrieve the password from wherever you want.

[2016-04-20 23:19] ulisesbocchio commented on #23
Are you experiencing any error? I'm not sure what you're asking. The bean rename is to overcome a limitation of Spring that doesn't allow ${pace.holders} in bean names. Since I want users to be able to define their own bean name if they want.

[2016-04-20 23:27] 6Niner commented on #23
Hi Ulises,
Let me try to describe the scenario a little better this time. I went
through your brief documentation on GitHub and inferred that if I write a
decryption method that returns an object of type StringEncryptor with a
@Bean(name="jasyptStringEncryptor") preceeding it, the default
StringEncryptor will not be initialized by jasypt-spring-boot. So I did the
same but upon running the applicat

[2016-04-20 23:49] ulisesbocchio commented on #23
checkout the demo app https://github.com/ulisesbocchio/jasypt-spring-boot/tree/master/jasypt-spring-boot-demo-custom-encryptor

That works just fine. That one renames the actual bean name in application.yml, but you can just remove the renaming in application.yml and rename the static bean as `jasyptStringEncryptor` and it works just fine.
Please make sure you declare your bean static:

[code]

[2016-04-20 23:53] 6Niner commented on #23
Hi Ulises,
I am not using yml currently but I will surely give it a try. Thanks for
your time and your prompt reply.

Thanks & Regards,
Debanjan.
On Apr 21, 2016 5:19 AM, "Ulises Bocchio" <notifications@github.com> wrote:

[2016-04-21 16:31] ulisesbocchio commented on #23
no problem buddy, it doesn't matter whether you use yaml or not. Just make your custom encryptor bean static and that should fix it.
I'm closing this, please reopen should you haven further issues
Best,
Uli

[2016-04-21 16:31] #23 closed

[2016-05-12 08:41] kbjp2 opened #24 "encrypted spring properties inside logback-spring.xml file"
Hi,
I'm using spring properties (from application.yml file) inside my logback-spring.xml (see logback extensions inside the spring-boot doco)
That works fine but *not* for encrypted properties (I would like to make use of a DBAppender with an encrypted password coming from the spring config file).
Would you have any suggestion on how to make it work ?
Regards
kbjp

[2016-05-13 06:30] ulisesbocchio commented on #24
Let me take a look and I'll get back to you.
Thanks,
Uli

[2016-05-14 18:00] ulisesbocchio commented on #24
I believe this is what you're looking for: https://github.com/spring-projects/spring-boot/commit/055ace37f006120b0006956b03c7f358d5f3729f

Basically, Spring added Logback support for doing this in your logback configuration:

[code]

[2016-05-16 00:13] kbjp2 commented on #24
Hi Ulises,
Thank you very much for coming back to me.
The setting that you mentionned above is indeed what I'm using in my logback file.
The problem is that the encrypted spring properties don't seem to be decrypted on-the-fly (in my personal case, I just have jasypt-spring-boot jar as a maven dependency, a "@SpringBootApplication" annotation and an application.yml resource file with encrypted pro

[2016-05-16 00:25] ulisesbocchio commented on #24
Hmm... That's interesting, I was betting on it working, but let me do some debugging with logback configuration. I haven't really tried your scenario. Do you happen to have some sort of demo app where the issue manifest that I can checkout from GitHub?
Best,
Uli

[2016-05-16 01:41] kbjp2 commented on #24
In order to reproduce the issue, you can use for example Spring demo project " Serving Web Content with Spring MVC" under https://spring.io/guides then the 3 following steps:

1) add jasypt-spring-boot-starter jar to your dependencies

2) add a "application.yml" file like:
jasypt.encryptor.password: your_encryption_key_here
encryptedproperty: ENC(your_encrypted_value_here)

3) a logback-spring.xml

[2016-05-16 05:51] ulisesbocchio commented on #24
You'll have to use another type of setup. Spring is loading Logging configuration very early on the bootstrap process, way before this plugin decorates properties using a bean post processor. I just released a new version of the plugin (1.7) that will allow you to define a custom Environment in your application this way:

[code]
The new environment basically decorates the StandardServletEnvironmen

[2016-05-16 06:01] kbjp2 commented on #24
Perfect ! :-)
Thanks a lot for your expertise and your time, Ulises !

[2016-05-16 06:05] ulisesbocchio commented on #24
No worries, thanks for using the library!

[2016-05-16 06:05] #24 closed

[2016-05-16 06:19] kbjp2 commented on #24
In case you find time to answer:
how long will it take for the new binaries to be available (and visible) in maven central ?

[2016-05-16 06:28] kbjp2 commented on #24
I can see it now in Maven central ! :-)

[2016-06-03 03:50] linead opened #26 "spring boot /env fails if overriding with an external encrypted property file"
If we provide an encrypted property and password within the war (for db password) and then override this in the deployment environment with another encrypted property and jasypt password then the /env endpoint will throw an exception as it's unable to decrypt the original property from the embedded property.

I understand why this is happening, but it would be nice if it just skipped the undecrypt

[2016-06-03 08:46] ulisesbocchio commented on #26
Hi buddy, thanks for using the library. I'm a bit lost with your issue. You set the password and have an encrypted property, right? what you mean with "override this in the deployment environment"? Do you have a git repo where the issue manifests?

Best,
Uli

[2016-06-06 12:34] niconatalie opened #27 "Cannot decrypt from env variable"
Hello,

Can I use it to decrpyt value from Environment Variable?

I tried something like this:
spring.datasource.password=ENC(${DB_PASSWORD})

and I got an error : org.jasypt.exceptions.EncryptionOperationNotPossibleException: null

Thank you.

[2016-06-08 07:49] ulisesbocchio commented on #26
any input you can provide here?

[2016-06-08 07:54] ulisesbocchio commented on #27
you could. Any property from any property source could be encrypted. I think you're passing the property the wrong way. you gotta do:
[code]
And DB_PASSWORD should contain the "ENC()".
Another thing you could do is to just use SPRING_DATASOURCE_PASSWORD as your environment variable since Spring Boot will convert _ to . automatically.

[2016-06-09 03:08] niconatalie commented on #27
Thank you so much, I have wrapped my value in the environment with ENC() and it's work as charm.

And for SPRING_DATASOURCE_PASSWORD, I'm running multiple spring application on my development machine, with different credential on each apps.

[2016-06-09 03:08] #27 closed

[2016-06-17 06:53] #26 closed

[2016-06-23 07:35] depandey opened #28 "Doesn't work with Java 1.6"
Can you please make it compatible with Java 1.6

ERROR:

com.ulisesbocchio.jasyptspringboot.annotation.EnableEncryptableProperties
[ERROR] bad class file: com/ulisesbocchio/jasyptspringboot/annotation/EnableEncryptableProperties.class(com/ulisesbocchio/jasyptspringboot/annotation:EnableEncryptableProperties.class)
[ERROR] class file has wrong version 52.0, should be 50.0

[2016-06-23 08:11] ulisesbocchio commented on #28
I could do a one off to help you but it'd take me a while. If you need it asap, I suggest you fork it, grab the java7 branch and change the targets in the parent pom to 1.6, see what breaks and fix it. Should be only minor syntax errors if anything.

[2016-06-27 16:46] chenrui333 opened #29 "Cannot enhance @Configuration bean definition 'beanNamePlaceholderRegistryPostProcessor'"
I have tried to apply the similar setup for the other app, but I have encountered this issue.

``
Jun 27, 2016 12:33:50 PM org.apache.catalina.startup.VersionLoggerListener log
WARNING: Cannot enhance @Configuration bean definition 'beanNamePlaceholderRegistryPostProcessor' since its singleton instance has been created too early. The typical cause is a non-static @Bean method with a BeanDefinition

[2016-06-27 16:51] chenrui333 commented on #29
As far as I can see in the code, it has been already declared as static return, why does it still complain?
[code ref](https://github.com/ulisesbocchio/jasypt-spring-boot/blob/master/jasypt-spring-boot/src/main/java/com/ulisesbocchio/jasyptspringboot/configuration/StringEncryptorConfiguration.java#L52-L56)

[2016-06-27 16:59] chenrui333 commented on #29
FYI:
I have fixed this error

WARNING: @Bean method ServiceConfig.propertyPlaceholderConfigurer is non-static and returns an object assignable to Spring's BeanFactoryPostProcessor interface. This will result in a failure to process annotations such as @Autowired, @Resource and @PostConstruct within the method's declaring @Configuration class. Add the 'static' modifier to this method to avoid these

[2016-06-28 02:27] ulisesbocchio commented on #29
do you need further help?

[2016-07-01 18:00] chenrui333 commented on #29
For the tomcat one, yes.

[2016-07-01 18:01] chenrui333 commented on #29
I still have the tomcat issue, but the FYI message is just for another issue.

[2016-07-01 18:01] chenrui333 commented on #29
no way to reopen this?

[2016-07-01 18:03] ulisesbocchio commented on #29
Yeah, please reopen and explain what's the situation. If you have sample code where the issue manifests  even better so I can test and make sure I got you covered.

[2016-07-01 18:05] chenrui333 commented on #29
I found there is no way to re-open the issue.

The jar actually works pretty well with my sample codebase, but the real integration does the opposite.

[2016-07-01 18:12] ulisesbocchio commented on #29
As far as warnings go,beanNamePlaceholderRegistryPostProcessor has been static for a while and there's no warning being raised. Check out the demo apps, there's a bunch of them

[2016-07-01 18:13] ulisesbocchio commented on #29
what's the "real" integration? Can you create a repo with a "real" example in your github accound and share it with me?

[2016-07-01 18:16] chenrui333 commented on #29
Yes, I was trying to confirm with you whether you have seen that issue first.

Now, I guess I need to try to reproduce the issue now. I still not know the root cause yet.

[2016-07-05 22:05] chenrui333 commented on #29
Will get back to this by the end of this week.

[2016-07-07 11:25] naeem commented on #28
Have a look at https://github.com/fingerprints/jasypt-spring-boot

@ulisesbocchio please create a java6 branch and you can merge my changes.
I created my branch from master and not java 7.

[2016-07-07 12:33] naeem commented on #28
@ulisesbocchio Please have a look at https://github.com/fingerprints/jasypt-spring-boot
There is a java6 branch based on the java7 branch.
I did not test the tomcat ssl part as yet.

[2016-07-07 16:53] ulisesbocchio commented on #28
Thanks man, appreciate it. Will create that branch

[2016-07-07 17:01] ulisesbocchio commented on #28
Alright, branch created and your code has been merged to it. Will do a few tests shortly and if everything's good I'll create a release soon.
Thanks!

[2016-07-08 03:40] depandey commented on #28
Thanks a lot :)
On 07-Jul-2016 10:31 pm, "Ulises Bocchio" <notifications@github.com> wrote:

[2016-07-09 20:51] ulisesbocchio commented on #28
alright version 1.5-java6 is out of the door, just released, wait until it shows up in maven2 repo and you'll be ready to go.

[2016-07-09 20:51] #28 closed

[2016-08-10 10:12] pvpkiran opened #31 "loading encrypted password from database"
Hi,
  In my spring boot application, I am loading some passwords(password of remote machines for doing scp) from database on startup. So in database if I store ENC(encryptedpassword), this is not getting decrypted when it is loaded. But if I store the same thing in my properties file and load it, it is properly decrypted.
Is it possible to store in database encrypted password like ENC(encryptedpas

[2016-08-11 00:29] ulisesbocchio commented on #31
For this library to work with any properties they need to be in the form of a `PropertySource`, so you can create a new `PropertySource` with your DB  values and that should work. Provided that you register the `PropertySource` early on so that `jasypt-spring-boot` decorators can decorate your property source. Otherwise you'd have to wrap it yourself in an `EncryptablePropertySource` such as `Encr

[2016-08-11 00:29] #31 closed

[2016-08-27 11:01] kohlideepti opened #32 "jasypt-spring-boot-starter not working with open-jdk 1.8"
Below is the error I get:
Caused by: java.lang.UnsupportedClassVersionError: com/ulisesbocchio/jasyptspringboot/EnableEncryptablePropertySourcesPostProcessor : Unsupported major.minor version 52.0 (unable to load class com.ulisesbocchio.jasyptspringboot.EnableEncryptablePropertySourcesPostProcessor)
	at org.apache.catalina.loader.WebappClassLoaderBase.findClassInternal(WebappClassLoaderBase.java:2

[2016-08-28 08:06] ulisesbocchio commented on #32
Did you try pulling the repo and building from sources with open jdk?
Do you have public repo I can see your project configuration?

[2016-08-31 16:20] donstrong opened #33 "spring boot jasypt not decrypting property in a config file other than application.yml"
Hi Ulises, I created a very simple spring boot REST service (https://github.com/donstrong/spring-boot-jasypt) in attempts to decrypt an encrypted property in a different configuration file (one other than application.yml) and was able to get the value, but it's still encrypted.  When the same encrypted property was added to application.yml, the decrypted value is returned and displayed on the brow

[2016-08-31 17:33] ulisesbocchio commented on #33
Did you check out the sample projects? The scenario you describe is well covered in the examples

[2016-08-31 17:41] ulisesbocchio commented on #33
For your `@ConfigurationProperties` annotated class to work with this library you shouldn't use the `locations` property in `@ConfigurationProperties`. Instead ignore that property and import the resource using `@EncryptablePropertySource`.

From your example, change this in `PersonConfig`:
`@ConfigurationProperties(prefix = "com.transamerica.research.spring.boot.jasypt.demo.person", locations = {

[2016-08-31 18:45] donstrong commented on #33
Thanks Ulises.  Unfortunately, after making the recommended changes ...
[code]
[code]
... Spring was unable to retrieve the values for properties defined in jasypt-demo.yml, so the service returned the following ...
[code]
After applying a number of changes in various ways, the only one that worked (where the decrypted value for password was returned & displayed) was by putting the encrypted prope

[2016-08-31 18:49] donstrong commented on #33
correction: ApplicationConfig.yml should be application.yml (had ApplicationConfig on my mind)

[2016-08-31 18:53] ulisesbocchio commented on #33
check out this sample: https://github.com/ulisesbocchio/jasypt-spring-boot-samples/tree/master/jasypt-spring-boot-demo

It depicts the exact same scenario you're working on

[2016-08-31 19:29] ulisesbocchio commented on #33
You're missing a `@Configuration` annotation in your `ApplicationConfig` class. Basically, all the annotations you have in that class are not doing anything without the `@Configuration` annotation.

[2016-08-31 19:31] #33 closed

[2016-08-31 19:32] ulisesbocchio commented on #32
any update??

[2016-08-31 19:36] ulisesbocchio commented on #32
It seems that you're running your app with something else than what you're actually showing. Version 52 is Java 8, so if you get that error it means whatever you're running with doesn't support it, meaning it's a lower version JRE/JDK.

[2016-08-31 20:20] donstrong commented on #33
Still resulted in ...
[code]
... but expected ...
[code]
Including/Excluding @Configuration in ApplicationConfig and PersonConfig made no difference.  In fact, Spring had no problems retrieving values for properties in jasypt-demo.yml as long as @EnableAutoConfiguration was present and locations = {"classpath:jasypt-demo.yml"} was included in @ConfigurationProperties.  I even placed @EnableAutoCon

[2016-08-31 20:26] donstrong commented on #33
I'll take a closer look at https://github.com/ulisesbocchio/jasypt-spring-boot-samples/tree/master/jasypt-spring-boot-demo (because I must be missing something).

[2016-08-31 21:06] ulisesbocchio commented on #33
I downloaded your project and tested it with the changes I asked you and it works just fine

[2016-08-31 21:13] ulisesbocchio commented on #33
To summarize the changes you need:

change this in `PersonConfig`:
[code]
To this:
[code]

And add this to `ApplicationConfig`:
[code]
Forgot to mention that neither Spring's `@PropertySource` nor `@EncryptablePropertySource` support YAML files. So change your `jasypt-demo.yml` to `jasypt-demo.properties` with this:

[code]

[2016-09-01 12:56] kohlideepti commented on #32
Sorry...could not respond earlier.  Yes, I did clone the latest and tried
with java 1.8   Stand alone it works with but when I bundled my project in
war and run inside tomcat, it does not work

tomcat version is 8 and java version installed on ubuntu server is openjdk 8

Regards,
Deepti
Director - gheware.com
+91 - 9740807444

-- Track your phone on Google Map by Google Play App
<https://play.goog

[2016-09-01 13:08] donstrong commented on #33
OK, no support for YAML files.  That's interesting because jasypt had no problem decrypting the encrypted properties in several micro services that I've recently built, which all use YAML files.  Those config. classes apply @Value to the properties instead of using Spring's @EnableConfigurationProperties and @ConfigurationProperties, where @Value is essentially replaced by getters & setters.  Swap

[2016-09-01 13:11] donstrong commented on #33
One further note ... when those encrypted properties were present in application.yml, it also worked (without a .properties file).

[2016-09-01 15:37] ulisesbocchio commented on #33
Yeah, the limitation is on the @propertySource and @encryptablePropertySource annotations that can't load YAML, the regular application.yml works fine because it doesn't use @PropertySource, it's loaded by Spring Boot itself. If you wanna add another YAML file you'd have to add the appropriate property source in the environment yourself. You can look it up in Spring's documentation.
Please conside

[2016-09-01 15:54] donstrong commented on #33
Thanks Ulises.  I may simply include all encrypted properties in [app-name]-encrypted.[profile].properties for Spring Cloud Config server to read ... that is, should I decide to refactor the config classes to utilize Spring's @EnableConfigurationProperties & @ConfigurationProperties, remove @Value from properties, and add necessary getters & setters (not much effort really).

btw, starred repo/dem

[2016-09-01 17:46] ulisesbocchio commented on #32
I see, check what version of java your tomcat is running on, it seems that that's your problem

[2016-09-01 17:47] ulisesbocchio commented on #32
Check out this sample project https://github.com/ulisesbocchio/jasypt-spring-boot-samples/tree/master/jasypt-spring-boot-demo-tomcat-ssl which works just fine with Tomcat

[2016-09-02 02:08] kohlideepti commented on #32
Checked out this samples project and set the property
-Djasypt-encryptor-password=secret before running and got below when ran in
STS spring boot launch:

Caused by: org.jasypt.exceptions.EncryptionOperationNotPossibleException:
null
at
org.jasypt.encryption.pbe.StandardPBEByteEncryptor.decrypt(StandardPBEByteEncryptor.java:1055)
~[jasypt-1.9.2.jar:na]
at
org.jasypt.encryption.pbe.StandardPBEStrin

[2016-09-02 04:17] ulisesbocchio commented on #32
The passwors is `password`, so you need `-Djasypt-encryptor-password=password` or just uncomment line 31 of `SampleTomcatSslApplication`.

[2016-09-02 04:21] ulisesbocchio commented on #33
Just FYI, http://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html#boot-features-external-config-yaml-shortcomings.
I'm gonna look into supporting YAML files in `@EncryptablePropertySource`, seems like a good addition for the library

[2016-09-02 06:36] ulisesbocchio commented on #33
Version 1.8 should be in central soon and you'll be able to do this:

[code]

Enjoy!

[2016-09-02 12:08] donstrong commented on #33
Thanks Ulises.

[2016-09-22 03:47] #32 closed

[2016-10-06 14:05] schacko3 opened #34 "integrating jasypt with ibmjcefips provider"
I havent been successful at integrating jasypt with ibmjcefips provider. I can use the provider directly in my code so yes it is successfully set up in the jdk (e.g. strong encryption enabled, provider registered). But attempt to encrypt with it using jasypt I get a FipsRuntimeException. I have googled this exception repeatedly without luck. Is there a way to get more debug from jasypt? Has anyone

[2016-10-06 16:26] ulisesbocchio commented on #34
I'm not so sure it'll work. Do you have any test code on how are you successfully using it without jasypt?

[2016-10-06 17:00] schacko3 commented on #34
blockquote, div.yahoo_quoted { margin-left: 0 !important; border-left:1px #715FFA solid !important; padding-left:1ex !important; background-color:white !important; }  Hi -  can clean up the code and send later . But are you aware of jasypt working with any FIPS compliant provider before ? Thanks 

On Thursday, October 6, 2016, 12:26 PM, Ulises Bocchio <notifications@github.com> wrote:

I'm not so

[2016-10-11 14:43] schacko3 commented on #34
would you know of anyway I can get more debug out of the jasypt cmd line tools? Then I can investigate the root cause of the FIPSRuntimeException I get when I try to encrypt via jasypt cmd line..

[2016-10-12 12:40] ulisesbocchio commented on #34
I'm not aware of any integration at the moment. Jasypt is open source and the cmd line tool is quite simple, you can download the code or check it out [here](http://grepcode.com/file/repo1.maven.org/maven2/org.jasypt/jasypt/1.9.2/org/jasypt/intf/service/JasyptStatelessService.java#JasyptStatelessService). That service class is used by the CLI classes that are called from scripts you're using.

[2016-10-12 13:15] ulisesbocchio commented on #34
In any case, an example of what you're doing would be the only way I'd be able to help you

[2016-10-14 15:50] nzhenry opened #35 "Broken link in readme"
The "jasypt-spring-boot-demo" link is broken in the [other-demo-apps](https://github.com/ulisesbocchio/jasypt-spring-boot#other-demo-apps) section of README.md.

[2016-10-14 15:57] ulisesbocchio commented on #35
thanks buddy, fixed.

[2016-10-14 15:57] #35 closed

[2016-10-14 16:33] schacko3 commented on #34
What we had been doing paraphrased below. Would like to do the same using jasypt's property files alone, or at least minimal programming:

IBMJCEFIPS ibmJCEFIPSProvider = new com.ibm.crypto.fips.provider.IBMJCEFIPS();
    public static void main(String[] args) {

    	String plainText = "What to encrypt" ;

    	byte[] keyBytes =   generateEncodedFIPSAESKeyBytes();

    	String key = encodeBase64S

[2016-10-16 22:17] gorky commented on #29
Seeing this issue with "com.github.ulisesbocchio:jasypt-spring-boot-starter:1.8"

[2016-10-16 23:55] ulisesbocchio commented on #29
@gorky, Can you explain what you see? Is it just the warning? On tomcat? Do you have a code sample?

[2016-10-17 23:12] gorky commented on #29
Thanks for your quick reply!

It's the Tomcat that is embedded in Spring Boot, although it hasn't started when these methods are logged.  I don't currently have a code sample I can post in a public forum (my apologies).
`
[2016-10-17 17:37:14.278 -0500] - 17939  WARN [main] --- o.s.c.a.ConfigurationClassPostProcessor: Cannot enhance @Configuration bean definition 'beanNamePlaceholderRegistryPostPr

[2016-10-18 02:27] gorky commented on #29
Found the issue with the jar not being picked up --  a directory name had be changed w/o an update in the -Dloader.path.  When I corrected the directory name I started getting quite a few interesting failures -- trying to work my way through them.  I will keep this thread updated.

[2016-10-18 02:53] ulisesbocchio commented on #29
Alright, thanks, let me know if you need further assistance. I was checking the sample apps I have and I don't see the warning in any of them

[2016-10-18 14:11] gorky commented on #29
Ok, this is issue is resolved.  I've walked into some others, but I can open a ticket and supply a test case.  Feel free to close this one as "End User Configuration Error -- corrected".

And thanks!

[2016-10-18 17:36] gorky opened #36 "XML Config file schemas are not available at time of load."
Some projects, including ones based on Spring Integration Framework and Spring Batch require XML Files for configuration.  Custom encryption beans are sometimes also required which may need to be defined in XML.  While various XSD Namespaces can be used during loading, the jasypt encryption xsds can not be used by Spring Boot with the Starter plugin.  A Demo project illustrating this has been setu

[2016-10-18 23:27] #29 closed

[2016-10-19 06:16] ulisesbocchio commented on #36
let me take a quick look at this

[2016-10-19 06:37] ulisesbocchio commented on #36
For the namespace to work you just gotta add:
`compile 'org.jasypt:jasypt-spring3:1.9.2'`
to your dependencies. But in any case, you shouldn't mix jasypt-spring-boot and jasypt. Jasypt-spring-boot alone will give you encryptable properties across the entire Spring Environment, regardless of whether or not you have XML configuration, it'll just work. So you don't need to be setting custom encryptor

[2016-10-19 07:03] ulisesbocchio commented on #36
In `DemoMain` you can remove this lines:
[code]

And add `@SpringBootApplication`.
In `DemoBean`you gotta change:
`@Value("demo.jasypt.value")` for this `@Value("${demo.jasypt.value}")` and after that your app should work. Assuming that you setup the String Encryptor properly, which I couldn't figure out what you were using, but when I replaced `demo.jasypt.value` in your properties for an encrypt

[2016-10-19 07:03] #36 closed

[2016-10-19 07:12] ulisesbocchio commented on #34
It seems like all you gotta do is to implement `StringEncryptor` to use it with this plugin:

[code]
And then follow the guide in the Readme to hook in your own encryptor, which is basically just defining a `@Bean`:

[code]

[2016-10-19 07:15] ulisesbocchio commented on #34
where can I get this? `com.ibm.crypto.fips.provider.IBMJCEFIPS`

[2016-10-23 21:45] #34 closed

[2016-11-01 09:36] lakshmandev commented on #29
The issue is fixed now in version 4.2.6, 4.3 RC2. Please refer this ticket https://jira.spring.io/browse/SPR-14234

[2016-12-22 09:48] bendem opened #38 "Typo in the repo description"
[code]

[2016-12-22 10:00] ulisesbocchio commented on #38
thanks

[2016-12-22 10:00] #38 closed

[2017-01-05 18:54] hanusto opened #40 "Default Security provider if no specified"
Hi,

at first thanks very much for your project. It helps us very good. I have one improvement. In `Jasypt` specification there is [possibility](http://www.jasypt.org/api/jasypt/1.9.2/org/jasypt/encryption/pbe/StandardPBEStringEncryptor.html#setProviderName(java.lang.String)) to use default security `provider` if config property provider and `providerName` is not specified. I think it is good feat

[2017-01-05 20:22] hanusto commented on #40
Hi Ulises, yes. Exactly.

[2017-01-07 21:38] ulisesbocchio commented on #40
This is done, version 1.11 should be in central soon.

[2017-01-07 21:38] #40 closed

[2017-01-07 21:45] hanusto commented on #40
Hi, thx, can we backport it to 1.4-java7 version?

[2017-01-08 02:42] jefferyyuan opened #41 "Add configuration to cache decrypted value"
I am not sure but seems to me that decrypt is expensive. So it would be great if jasypt-spring-boot  can cache the already decrypted value in DefaultPropertyResolver.

https://github.com/ulisesbocchio/jasypt-spring-boot/blob/master/jasypt-spring-boot/src/main/java/com/ulisesbocchio/jasyptspringboot/resolver/DefaultPropertyResolver.java

com.ulisesbocchio.jasyptspringboot.resolver.DefaultPropertyRe

[2017-01-08 02:58] ulisesbocchio commented on #41
While true, caching sensitive passwords or whatever your keeping encrypted is a security vulnerability. Ideally you'll request the property once and dispose it. If you want to cache them yourself you can simply override the `StringEncryptor` bean with a decorator one that wraps a real one and does the caching.

[2017-01-08 02:58] #41 closed

[2017-01-08 14:27] hanusto commented on #40
I have created PR https://github.com/ulisesbocchio/jasypt-spring-boot/pull/42.

[2017-01-10 18:29] hanusto commented on #40
Any update please?

[2017-01-10 18:30] ulisesbocchio commented on #40
sorry, haven't had the time to look into this

[2017-01-10 18:34] ulisesbocchio commented on #40
I just released `1.5-java7`, should be in central within the day...

[2017-01-10 18:38] hanusto commented on #40
Thx very much!

[2017-03-01 12:34] fuzails opened #43 "Updating jasypt-spring-boot to use Spring Boot 1.5.1.RELEASE"
Hi

I am looking to update jasypt-spring-boot to use Spring Boot 1.5.1.RELEASE but I am hitting an issue as per below

[code]

[2017-03-01 17:59] ulisesbocchio commented on #43
Yeah, they're not compatible seems like. I'll be upgrading the library in the upcoming days so you can use it with Spring Boot 1.5. For now you're gonna have to stick with Spring Boot 1.4 to use this library. But again, I will be upgrading the library shortly to support the latest version of Spring Boot.
Sorry for the inconvenience

[2017-03-01 18:39] ulisesbocchio commented on #43
turns out it was easier than I thought, version 1.12 should be in central soon with compatibility for Spring boot 1.5

[2017-03-01 18:39] #43 closed

[2017-03-02 12:23] NishantHadole opened #44 "Spring Boot warning for com.ulisesbocchio.jasyptspringboot.configuration.EncryptablePropertyResolverConfiguration"
Spring Boot version: 1.5.1.RELEASE
jasypt-spring-boot-starter version: 1.11

We see this warning every-time we run the application, although it does not affect the functionality. May be you can investigate the cause and fix it.

### **`WARN  o.s.c.a.ConfigurationClassPostProcessor - Cannot enhance @Configuration bean definition 'beanNamePlaceholderRegistryPostProcessor' since its singleton instanc

[2017-03-02 18:14] ulisesbocchio commented on #44
It's been around for a while. If you look at `EncryptablePropertyResolverConfiguration.beanNamePlaceholderRegistryPostProcessor` it is a `static` `@Bean` declaration, so it seems like the warning is incorrectly logged. The warning states that be bean definition should be `static` and in fact it is since it needs to be static because it's a `BeanDefinitionRegistryPostProcessor` that needs to be pic

[2017-03-02 18:14] #44 closed

[2017-03-03 07:20] NishantHadole commented on #44
@ulisesbocchio
Thanks for clarification.

[2017-03-21 10:55] abuabdul commented on #11
Hi @ulisesbocchio just got to know about this wonderful spring boot starter on jasypt. Question is why are we forced to set jasypt.encryptor.password? If I can use a environmentconfig and set the password environment name(not even password) and create my stringencryptor? Really this feels like a restriction on using our custom encryptor.

[2017-03-21 18:19] ulisesbocchio commented on #11
@abuabdul the `jasypt.encryptor.password` property is only required if you don't provide a custom `StringEncryptor`. Basically, if you use `jasypt-spring-boot` out of the box, a `StringEncryptor` is pre-configured for you, and all you gotta input is the encryption/decryption password.

[2017-03-22 06:28] abuabdul commented on #11
@ulisesbocchio you are correct. I set my custom string encryptor bean, and its working fine now. However i am facing the same issue in the Spring Boot JUnit Tests. Though i have configured the custom bean, it still forcing me to set `jasypt.encryptor.password`

[2017-03-22 16:20] ulisesbocchio commented on #11
Can you please upload your code to github so I can take a look?

[2017-03-23 07:56] ulisesbocchio commented on #11
@abuabdul Check out this sample project: https://github.com/ulisesbocchio/jasypt-spring-boot-samples/tree/master/jasypt-spring-boot-demo-custom-encryptor
Where you can start/test the app with no `jasypt.encryptor.password` property whatsoever.

[2017-03-23 18:19] abuabdul commented on #11
Hi @ulisesbocchio Thanks for your help. This is where i have hosted my code. `https://github.com/B2OPlus`/HTMLService
I reverted back to default stringencryptor. Since the way i have structured my code does not allow me to run tests with custom string encryptor (forcing me to set jasypt.encryptor.password for custom string encryptor). Please suggest a solution.

[2017-04-04 19:33] ChrisMacpherson-awin opened #45 "Cannot enhance @Configuration bean definition 'beanNamePlaceholderRegistryPostProcessor'"
Hi,

I've just been debugging why I get this warning in the logs. It happens as soon as I add Jasypt to my POM file in a SpringBoot 1.5.2 app. I tried changing to Spring Boot 1.5.1 too as I noticed it was mentioned as fixed in another ticket, but it still appears.

`WARN  [main] ConfigurationClassPostProcessor: Cannot enhance @Configuration bean definition 'beanNamePlaceholderRegistryPostProcessor

[2017-04-04 19:39] ulisesbocchio commented on #45
Yeah, The method is in fact static as the warning suggests. When non static you get the same warning. My guess is that Spring heuristics for that warning are buggy. I did debug Spring's code to see when it was being logged and surprisingly enough the bean was being processed twice, on the first pass it was OK and on the second pass it was logging the warning. Not sure why, but you can rest assured

[2017-04-04 19:39] #45 closed

[2017-04-04 19:41] ChrisMacpherson-awin commented on #45
Thanks for the super fast reply! Okay I'll just ignore it for now.

[2017-04-04 20:04] ulisesbocchio commented on #45
yeah, no worries :)

[2017-04-20 05:10] prashantjain110 opened #46 "Multiple parameters"
Hi,

I have encrypted user id and password both with different keys, How can I pass the both keys while running the jar.
Ex :
java -Djasypt.encryptor.password=pass1 -Djasypt.encryptor.password=pass2  -jar xxx.jar

I have tried with above command but it is not working.
Please help me to achieve this.

[2017-04-20 09:23] ulisesbocchio commented on #46
there's no way out of the box, you'd have to look at creating your custom decryptor

[2017-04-20 09:28] ulisesbocchio commented on #46
for instance you can create a custom decryptor that when trying to decrypt something like this:
`secret.property=ENC(key1@nrmZtkF7T0kjG/VodDvBw93Ct8EgjCA+)`
it can parse the encrypted value to figure out it was encrypted with `key1`

[2017-04-20 09:31] #46 closed

[2017-05-03 03:53] wilemo opened #47 "passwordEnvName?"
application.yml:

jasypt:
    encryptor:
        passwordEnvName:  ${passwordEnvName}

or

jasypt:
    encryptor:
        password: systemEnvironment[${passwordEnvName}]

I Hope support system Environment password to jasypt-spring-boot.

[2017-05-03 04:21] wilemo commented on #47
I did it:
private static final String ENVIRONMENT_VALUE_PREFIX = "systemEnvironment[";
    private static final String ENVIRONMENT_VALUE_SUFFIX = "]";

    @Bean
    public static StringEncryptor stringEncryptor(final Environment environment) {
        PooledPBEStringEncryptor encryptor = new PooledPBEStringEncryptor();
        SimpleStringPBEConfig config = new SimpleStringPBEConfig();
        co

[2017-05-09 10:09] wilemo commented on #47
org.springframework.context.annotation.ConfigurationClassEnhancer.intercept:350 - @Bean method EnableEncryptablePropertySourcesConfiguration.enableEncryptablePropertySourcesPostProcessor is non-static and returns an object assignable to Spring's BeanFactoryPostProcessor interface. This will result in a failure to process annotations such as @Autowired, @Resource and @PostConstruct within the metho

[2017-05-09 18:04] ulisesbocchio commented on #47
The method is in fact static, not sure why spring keeps showing the warning.

[2017-05-09 18:04] #47 closed

[2017-05-13 00:40] binzou2017 opened #48 "jasypt-spring-boot-demo-custom-encryptor does not work if I change to jasypt-spring-boot"
Hi, I tried to change the app to use jasypt-spring-boot instead of starter and added @EnableEncryptableProperties After this it does not pick up the customer encryptor anymore and keep asking for password.

[2017-05-31 16:18] ulisesbocchio commented on #48
do you have a sample app I can take a look? Also please check out the samples in the samples repository. There's a variety of small projects that cover all the capabilities and combinations of configurations available.

[2017-06-01 23:46] binzou2017 commented on #48
Hi, thanks for your reply. I was simply using the sample app CustomEncryptorDemoApplication.java by adding @EnableEncryptableProperties which cause the app to use default encryptor. Later on I was able to get around it by declare the the jasyptStringEncryptor in a class and then import the class before @EnableEncryptableProperties. I think this has something to do with the sequnece of which bean i

[2017-06-12 10:50] kenkc opened #49 "@ConditionalOnProperty fails with @EncryptablePropertySource"
It looks like there is an issue with using @ConditionalOnProperty in conjunction with @EncryptablePropertySource. I have a bean which is annotated with
@ConditionalOnProperty(name = "bean.enabled", matchIfMissing = false)
and I am importing the properties with
@EncryptablePropertySource(value = { "classpath:beans.properties" })
and beans.properties contains the property "bean.enabled=true"
The bea

[2017-06-16 14:18] realcbb opened #50 "OOM with spring boot 2.0.0.M1"
Would it support spring boot 2.0?

[2017-06-16 19:36] ulisesbocchio commented on #50
Don't see why not!

On Fri, Jun 16, 2017 at 7:18 AM realcbb <notifications@github.com> wrote:

[2017-06-17 20:49] ulisesbocchio commented on #48
It might be, it would be great if you can paste the code here, or point me to a repo where you see the issue so I can troubleshoot it, or if you think this is no longer an issue please let me know so I can close the ticket

[2017-06-17 20:51] ulisesbocchio commented on #49
Interesting issue, let me dig on that...

[2017-06-17 22:03] ulisesbocchio commented on #49
Alright so you can do this:
[code]
And that will effectively encrypt the property source imported with the `@PropertySource` annotation. The downside is that if you `@ConditionalOnProperty`'s `havingValue` property you can't use a decrypted value. In other words, you can use this as far as you don't use an encrypted property with `havingValue`. So you can use any other property, or you can check f

[2017-06-17 22:03] #49 closed

[2017-06-17 22:05] ulisesbocchio commented on #50
Did you try it @realcbb ? I haven't had the chance

[2017-06-18 15:53] realcbb commented on #50
@ulisesbocchio
Yes. I add the `jasypt-spring-boot-starter` dependency, and a `StackOverflowError` occured when starting the spring boot application.

Seems a circular calling:
[code]

[2017-06-21 02:13] Chowdaryonpc opened #51 "String Encryptor custom Bean not found with name 'jasyptStringEncryptor' even when bean exists in the config"
Hi,
I am using jasypt spring boot starter plug in and added custom String Encryptor bean defination to the AppConfig file but still I get the String Encryptor custom Bean not found with name 'jasyptStringEncryptor' error in the logs and always it picking up default jasypt encryption config values.

Please help me why spring not picking up my custom encryption config values.

Spring boot version is

[2017-06-21 02:15] Chowdaryonpc commented on #51
@ulisesbocchio

[2017-06-22 00:40] Chowdaryonpc commented on #48
@binzou2017 @enableencryptableproperties causing  the app to use default encryptor. In the above comment you mentioned that you were able to fix this issue by adding jasyptStringEncryptor  in class and then importing the class before @enableencryptableproperties. Can you please share code example how you did that exactly?

[2017-06-26 20:12] treyyoder opened #52 "Error creating bean with name 'springSecurityFilterChain'"
I'm trying to implement a custom [EncryptablePropertyResolver](https://github.com/ulisesbocchio/jasypt-spring-boot#provide-a-custom-encryptablepropertyresolver), but I'm receiving this error on start:

I have @EnableWebSecurity and @Configuration in my WebSecurityConfig.

[code]

[2017-06-29 01:12] chrisdadej commented on #50
Can confirm that the StackOverflow issue is present in Spring Boot 2.0.0.M2.
Looks like there have been some changes to `PropertySourcesLoader` et al.

[2017-06-29 02:48] ulisesbocchio commented on #50
Alright, I'll take a look

[2017-07-12 14:05] vijayan007 opened #53 "How to protect jasypt.encryptor.password in AWS?"
- I am using jasypt-spring-boot to protect the secrets that are stored in application-*properties file in my spring boot app
- Our spring boot app running from AWS and we supply the `jasypt.encryptor.password` via `--jasypt.encryptor.password =value`
-This password can be visible to anyone who can see the history command on that host
- Is there a better way to protect `jasypt.encryptor.password`

[2017-07-13 18:44] vsspt commented on #50
I also have the same problem.
Any estimation on when you could release a new version that works with spring-boot 2.0.0.M2?

[2017-07-14 07:33] ulisesbocchio commented on #50
I'm working on it currently :)

[2017-07-14 07:59] ulisesbocchio commented on #48
I was able to reproduce the issue, working on the fix.
For now you can do this to get the same result you should get with `@EnableEncryptableProperties`:
[code]
Make sure to put the `EnableEncryptablePropertiesConfiguration.class` last in the list of sources.

[2017-07-14 11:47] ulisesbocchio commented on #48
I fixed the issue in MASTER, it'll be released soon

[2017-07-14 11:55] ulisesbocchio commented on #53
You can install the app as a service with SystemD: https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#deployment-systemd-service

Or you can SET `JAVA_OPTS=-Djasypt.encryptor.password`
Or you can just run `JASYPT_ENCRYPTOR_PASSWORD=password yourApp.jar` and the password won't show.
Spring will translate any property you define in your environment from `SOME_PROPERTY_NAME` to `so

[2017-07-14 11:55] #53 closed

[2017-07-14 11:58] ulisesbocchio commented on #52
The error shown seems unrelated. Are you saying that you have an app working without `jasypt-spring-boot` and when you enable it you get this error?

[2017-07-14 12:00] ulisesbocchio commented on #51
this is fixed in MASTER, dup of #48

[2017-07-14 12:00] #51 closed

[2017-07-14 12:11] ulisesbocchio commented on #48
new version 1.13 is out, enjoy

[2017-07-14 12:11] #48 closed

[2017-07-14 13:56] treyyoder commented on #52
Correct, running vanilla jasypt-spring-boot out of the box, no issues.  When I try to define a custom [EncryptablePropertyResolver](https://github.com/ulisesbocchio/jasypt-spring-boot#provide-a-custom-encryptablepropertyresolver), I receive the error.

[2017-07-14 18:06] binzou2017 commented on #48
Thanks ... Bin

From: Ulises Bocchio <notifications@github.com<mailto:notifications@github.com>>
Reply-To: ulisesbocchio/jasypt-spring-boot <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, July 14, 2017 at 5:12 AM
To: ulisesbocchio/jasypt-spring-boot <jasypt-spring-boot@noreply.github.com<mailto:jasypt-spring-boot@noreply.github.com>>
Cc: Bin Zou <bin_zou@symantec.com<mailto:b

[2017-07-14 18:06] ulisesbocchio commented on #52
Can you share your project on Github? I  can't really do much without seeing the code you're trying to run

[2017-07-17 16:54] ulisesbocchio commented on #50
From the few tests that I've done, you should be able to use it this way: https://github.com/ulisesbocchio/jasypt-spring-boot#custom-environment with latest version of `jasypt-spring-boot`

[2017-07-17 17:04] vsspt commented on #50
Thank you very much.

In my specific use case i need to use @EncryptablePropertySource, and as such, i will wait for the full support version.

Please keep us posted.

Regards,
Vasco.

[2017-07-18 08:26] ulisesbocchio commented on #50
`jasypt-spring-boot-1.14` with Spring Boot 2.0.0.M2 support is out, enjoy!

[2017-07-18 08:26] #50 closed

[2017-07-31 13:31] jlchoike opened #55 "Suggestion: Merge with Jasypt Project"
Hello!

I reached out to Chus Picos from the Jasypt project to ask if they had plans to officially support Spring Boot integration. Has anyone from that project reached out to you in the past or recently?

Jan Choike

[2017-07-31 16:21] ulisesbocchio commented on #55
Hi Jan, nobody ever contacted me from the Jasypt project. They've been quiet for quite a while.

[2017-07-31 19:18] jlchoike commented on #55
Please e-mail me at jan.choike@gm.com. I would like to discuss other details and intentions for my inquiry. Thanks!

[2017-08-02 08:49] laxnars opened #56 "Jasypt EncryptablePropertySources not able to read properties"
Hi I am using EncryptablePropertySources to load jasypt encryption, here the code snippet

@SpringBootApplication
@PropertySource("jasyptconfig.properties")
@EnableEncryptableProperties
@EncryptablePropertySources({@EncryptablePropertySource("app.properties"),
	@EncryptablePropertySource("sec.properties")})

jasyptconfig .properties contains the jasypt password and Encryption algorithm
the rest of

[2017-08-02 15:17] ajainy opened #57 "[Question] How to use ENC placeholder as sub-string in property value"
Use case:

secret.password=ENC(sdfsdfds...)
secret.url=http://user:${secret.password}@domain.com

Now secret URL when accessed, looks like it is NOT decrypting.
But when i tested `secret.url` by inject property in java bean, it shows right values.

I am trying to build `spring.cloud.config.uri` in spring boot config client app, without exposing actual password.

[2017-08-09 05:28] #56 closed

[2017-08-26 17:43] JavaNeed commented on #52
Does anyone solve this issue ? Does there is any solution for this issue yet ?

[2017-08-26 18:25] ulisesbocchio commented on #55
@jlchoike can we discuss here?

[2017-08-26 18:29] ulisesbocchio commented on #52
@JavaNeed yes, there's an example boot app with the scenario: https://github.com/ulisesbocchio/jasypt-spring-boot-samples/tree/master/jasypt-spring-boot-demo-web-secure-custom-resolver

[2017-08-26 20:00] ulisesbocchio commented on #57
There's a limitation due to the way spring boot resolves properties for `application.yml` or `application.properties`.
There are 2 workarounds:
- encrypt the entire URL: `secret.url=ENC(sdfsdfds...)`
- Move `secret.password` and `secret.url` to a different property files together with:
[code]
And you'll be able to make that indirection.
There's a working sample here: https://github.com/ulisesbocch

[2017-08-28 11:46] jlchoike commented on #55
Sure!

A few weeks ago, I reached out to the Jasypt team, because their library is approved open source at my company. Currently, yours is under consideration, but is viewed as a potential risk since the project is maintained primarily by you. A person with decision authority in my organization asked if the Jasypt project maintainers have thought of adding support for Spring Boot; and Chus Picos,

[2017-08-30 13:07] ajainy commented on #57
Thanks. I will try this.

[2017-08-31 09:19] ulisesbocchio commented on #55
I see, while I would definitely advise to use the library, to be honest with you, adding Jasypt to spring boot is no big deal. There are a variety of approaches that could be followed but the two closest to regular spring that you can use (if jasypt-spring-boot is not approved) are:
* the big ole `PropertyPlaceHolderConfigurer` for which jasypt actually provides a class for: [`EncryptablePropertyP

[2017-08-31 09:22] ulisesbocchio commented on #57
as of 1.15 (which I just released) this should work out the box using either `jasypt-spring-boot-starter`, `@EnableEncryptableProperties`, `StandardEncryptableEnvironment` or on custom property sources using `@EncryptablePropertySource`.
Enjoy!

[2017-08-31 09:22] #57 closed

[2017-08-31 14:01] jlchoike commented on #55
Thanks for the info and suggestion. Actually, we started using your library after finding that implementing comparable behavior would be no different than what you have already implemented. If there are any concerns for support, the decision to continue using your library will be a matter either reporting issues to you versus implementing our own solution similar to what you described.

[2017-08-31 17:31] ulisesbocchio commented on #55
sounds good :), closing this

[2017-08-31 17:31] #55 closed

[2017-08-31 18:34] chupetoide opened #58 "@EnableEncryptableProperties not working with xml based definitions"
I have an application with Spring 4.3.5 with xml based configuration and I have some property sources definitions there.

I'd like to encrypt some property values so I added jasypt-spring-boot (1.15) to my pom.xml and I guess I am in the method 2 scenario (don't use @SpringBootApplication or @EnableAutoConfiguration Auto Configuration annotations). I created a new Java App configuration class with

[2017-09-02 07:17] ulisesbocchio commented on #58
Can you share the XML config? Or do you have an app in github that I can take a look at?
`jasypt-spring-boot` will pick up all the propertySources present in the environment and nothing else. If you have your XML config using something different it won't work. Seeing the config I might be able to add something to `jasypt-spring-boot` to support it, or tell you a way it could be done with the curre

[2017-09-04 00:33] chupetoide commented on #58
Hi Ulises, here is the project: https://github.com/chupetoide/acme/tree/master
I put 2 configuration files: one with Xml configuration and the other one with Java.

[2017-09-05 17:56] ulisesbocchio commented on #58
Hey, I took a quick look, it looks like you don't need this:

[code]
If for some reason some of your XML bean definitions don't get properties resolved, try just:
[code]
Without adding any locations to it.
The javadoc for [`PropertySourcesPlaceholderConfigurer`](https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/context/support/PropertySourcesPlaceholderConfigurer

[2017-09-05 22:35] chupetoide commented on #58
Both properties are resolved but the XML-based are not decrypted. We should use Spring XML-based configuration to allow our customers to modify the configuration without re-packaging it.

The `jasypt-spring31` approach is not working. It throws an exception at runtime:
[code]
I added [this](http://www.jasypt.org/spring31.html#The_encryption_namespace) namespaces and this property configuration:
[c

[2017-09-06 00:15] mryhmln opened #59 "Can't decrypt value on a different machine"
So I'm using integration/configuration method #1 (adding the starter jar dependency to my project). I added the dependency to my project, downloaded the latest jasypt (1.9.2) for Windows, encrypted an application property  using the jasypt encrypt command line utility (with just the input and password parameters... everything else was defaults) and then put the encrypted value into my application.

[2017-09-06 00:43] #58 closed

[2017-09-06 00:50] ulisesbocchio commented on #59
Hi @mryhmln none of the logs you show are errors. Just INFO logs telling you some default values were used. My bet would be either be on:
* Your friend is not passing the password correctly. Try doing `java -Djasypt.encryptor.password=actual-password -jar target/app.jar`
* Your friend is getting different defaults for the encryptor based on his environment. So try defining a custom encryptor

[2017-09-06 12:13] mryhmln commented on #59
I wish it were that straight forward. But unfortunately I sent him the exact same parameters I was using to launch the JAR (which worked for me) and he cut and pasted them directly into his terminal and got the error. Also, from the logs it looks like it's defaulting to PBEWithMD5AndDES encryption. I confirmed in the jasypt command line utility that I was able to decrypt the password with that alg

[2017-09-07 00:14] ulisesbocchio commented on #59
Interesting, yeah, it looks like a mismatch either on the algorithm or the password. Can you paste your own log? Just to see if they're any differences in the defaults selected.

[2017-09-07 16:29] mryhmln commented on #59
Well, apparently it was a red herring. At this point I'm not sure what I did to get it to work on my machine. But when I went back to rerun it to regenerate the log files so that I could show them to you, it then started failing for me as well. Which I think is definitely better than it working for me but not for him! Because at least it was consistent.

Anyway, I then went back to investigate the

[2017-09-07 17:14] ulisesbocchio commented on #59
alright, great, no poblem :). Glad you could figure it out.

[2017-09-07 17:14] #59 closed

[2017-09-15 08:19] ravindardayachand opened #61 "Tomcat datasource encryption"
I have datasource details in tomcat's context.xml which i encrypted using tomcat using steps described below
http://junjun-java.blogspot.in/2017/03/tomcat-datasource-username-password.html but for the step 7 since i use war deployed in tomcat with SpringBootServletInitializer i used the annotation @EnableEncryptableProperties but still the connection is not formed due to encryption please advice

[2017-09-27 14:36] jmhostalet opened #62 "Annotation @RefreshScope does not decrypt"
I am using @RefreshScope within my class and an attribute

    @Value("${consulExample}")
    private String consulExample;

I am using Consul as external configuration tool, in Consul I've defined a new key/value with a value encrypted previously with encrypt.sh. A simple GET service returns the value of consulExample.

After booting up the right decrypted value is shown. Now, if I change the val

[2017-09-27 17:46] ulisesbocchio commented on #62
Interesting, `jasypt-spring-boot` works intercepting properties at the property source level so as far as the property source stays there and given that the property format is correct it should work. So it might be that Spring is re-creating the property source, and in that case, `jasypt-spring-boot` won't intercept since the interceptors are established with bean factory post processors.
The one

[2017-09-29 14:00] fredlo2010 commented on #11
Thanks a lot for this. The custom encryptor fixed all my problems.

In case anyone has issues with this my configuration is as follows:

**pom.xml**
[code]

**application.yml**
[code]

**EncryptorConfig.java**
[code]

**TestController.java**
[code]

**Environment variable with the secret**
export APP_ENCRYPTION_PASSWORD=secretkey

[2017-09-29 17:03] Chowdaryonpc commented on #51
Thanks for fix.  I will pull the latest library.

[2017-10-20 22:25] nagarajatantry opened #63 "not able to decrypt keys in bootstrap.properties"
Hi,

I am using jasypt 1.15 version and spring boot 1.5.7 version. In my Spring cloud config client, I have below configuration in bootstrap.properties

[code]

I have the below code in the main method.
[code]
Looks like jasypt is not able to decrypt 'spring.cloud.config.password'. I get a 401 error from my spring cloud server. If i replace the password with plain text, then it works.
Can someone

[2017-11-11 02:51] curtistee opened #64 "Question: Have you tried this with a CloudWatch logging appender?"
Hello & thanks for the great work! I'm having difficulties getting an executable Spring Boot jar to run from the CLI (Linux & Mac OSX) when using one of two CloudWatch appenders with LogBack.
Note I'm using your 4th method with the fluent SpringApplicationBuilder & StandardEncryptableEnvironment approach, and running this with `-Djasypt.encryptor.password={blah}` as an argument.

1. In the first c

[2017-11-15 16:14] akashshinde44comp commented on #23
I am getting below error  -

Caused by: com.ulisesbocchio.jasyptspringboot.exception.DecryptionException: Decryption of Properties failed,  make sure encryption/decryption passwords match
	at com.ulisesbocchio.jasyptspringboot.resolver.DefaultPropertyResolver.resolvePropertyValue(DefaultPropertyResolver.java:37) ~[jasypt-spring-boot-1.16.jar:na]
	at com.ulisesbocchio.jasyptspringboot.resolver.Defa

[2017-11-16 07:15] akashshinde44comp opened #65 "I am getting Decryption of Properties failed, make sure encryption/decryption passwords match 2017-11-16 12:40:58.215 WARN 4320 --- [ restartedMain] ationConfigEmbeddedWebApplicationContext : Exception encountered during context initialization - cancelling refresh attempt: org.springframework.context.ApplicationContextException: Unable to start embedded container; nested exception is org.springframework.boot.context.embedded.EmbeddedServletContainerException: Unable to start embedded Tomcat"
[code]

[2017-11-16 11:29] yogeshjoshiji opened #66 "jasypt-spring-boot-starter 1.16 not able to load encryptablePropertyResolver"
Not able to load encryptablePropertyResolver so not decripting the password.
 following is the code :-
[code]
following dependencies i have in my pom
[code]
getting Below error :-
[code]

[2017-11-16 15:14] Pauki commented on #63
Hi,

I hit the same issue as you and I figure it out adding spring.factories to my app META-INF directory with:
org.springframework.cloud.bootstrap.BootstrapConfiguration = com.ulisesbocchio.jasyptspringboot.JasyptSpringBootAutoConfiguration

[2017-11-25 19:11] forrestlake commented on #11
Thanks a bunch @fredlo2010  and @ulisesbocchio
If I did not find this page, I would have almost abandoned my efforts to try and use jasypt for springboot application. My problem is pretty similar to what was described by @fredlo2010.
I am using AWS CodeBuild and CodeCommit to build and deploy my springboot application.
All my source code is in GitHub, so AWS CodeBuild pulls the code from GitHub an

[2017-11-25 21:56] fredlo2010 commented on #11
I am glad I was able to help :)

[2017-11-26 20:45] ulisesbocchio commented on #66
those logs are just telling you that you didn't define custom beans for a few of the integration points provided by this library. I don't see any errors  in your log and don't see the line being printed:
`DB password is ...`
can you paste the full logs?

[2017-11-26 20:47] ulisesbocchio commented on #65
can you paste some of the code you're using to initialize the decryption password?
You seem to be missing something. Check out the examples at: https://github.com/ulisesbocchio/jasypt-spring-boot-samples

[2017-11-26 20:58] ulisesbocchio commented on #64
Do you have the sample code in github for me to take a look?
From the j256 appender docs:

You can set your credentials in a few different ways instead of using `logback.xml` although, as you mentioned, jasypt-spring-boot supports encrypted properties in `logback.xml` with the help of spring properties.

[code]

[2017-11-26 21:05] ulisesbocchio commented on #63
that's weird @Pauki, using the `jasypt-spring-boot-starter` dependency does exactly that. It's an empty `jar` with one file in META-INF with that exact line of configuration.
When you're adding that config explicitly you're basically adding config twice, once by the `StandardEncryptableEnvironment` and another one with the auto config. Both configs check for the existence of encryptable properties

[2017-11-26 21:08] ulisesbocchio commented on #62
Did the `StandardEncryptableEnvironment` work?

[2017-11-26 21:15] ulisesbocchio commented on #61
That example is beyond this library. It creates it's own encryptable datasource and it's initializing it's own
[code]

You would have to adapt that datasource to use the `Encrytor` bean provided by `jasypt-spring-boot`

[2017-11-29 08:11] jmhostalet commented on #62
I didn't try yet ;-)

On Sun, Nov 26, 2017 at 10:08 PM, Ulises Bocchio <notifications@github.com>
wrote:

[2017-11-30 21:45] jmardis10 opened #68 "Not Able to decrypt properties by changing password in bootstrap.yml outside of application"
Hi,

I am using jasypt 1.16 version and spring boot 1.5.7 version. I believe this is similar to the bootsrap.properties issue that is open. In my Spring cloud config client, I have below configuration in bootstrap.yml

test:
  client:
    clientId: client
    clientSecret: ENC(encrypted_pass)
    accessTokenUri: url
    grantType: client_credentials

spring:
  profiles:
    active: test
  applicat

[2017-11-30 21:56] ulisesbocchio commented on #68
I don't think putting `application.yml` or `bootstrap.yml` in the same folder as the jar does anything. You have to add those files in the root of the classpath. Another think you can do is override the properties via command line arguments or system properties. Every single property in spring can be overridden this way, check out the properties config docs for spring boot.

[2017-11-30 22:16] jmardis10 commented on #68
Spring boot reads the yml file that is in the same directory and it has higher precedence. Like I said before i added logging in my application to ensure it was getting the updated password value. I don't think this is the issue, but I will try setting the password via command line tomorrow. Thanks.

[2017-12-24 06:25] Comven opened #69 "1.17 version of jasypt-spring-boot-starter not work"
I use starter of version 1.17 with spring-cloud，it not auto configure  ，unless @EnableEncryptableProperties was configured，but when I use 1.16，it worked fine。Is there anything wrong？

[2017-12-29 17:30] fouadmasoud opened #70 "Not working with JUnit"
Sorry if this isn't the appropriate place to ask this but figured might be the fastest :)

We are using jasypt with a custom resolver for KMS. We're bootstrapping it in the main method of our SpringBootApplication as shown below. This is working great when the application runs normally. However when running unit / integration tests using SpringRunner the values retrieved from our properties file u

[2017-12-29 23:46] #70 closed

[2018-01-05 19:49] wwk3j commented on #63
I am starting to use the jasypt-spring-boot package and I was wondering whether it works with org.bouncycastle.jcajce.provider.BouncyCastleFipsProvider? If not I may have to abandon it. I originally attempted to use the jasypt spring 3.1 integration with encryptors as beans but that didn't quite work with bc-fips as a provider.

[2018-01-10 19:08] iKrushYou opened #71 "maven clean install without putting encryption password in properties"
I'm trying to run a maven clean install from my jenkins but i keep running into errors surrounding jasypt.encryptor.password like missing. so I added this to my .properties file
jasypt.encryptor.password=dummy
but now i get an error saying the passwords don't match. Obviously..
But I don't want to write the password in my .properties file

any suggestions?

[2018-01-14 14:06] rupert654 opened #72 "Support setting a custom provider by class name"
Currently, it is possible to set a custom provider using `jasypt.encryptor.providerName`. However, this requires that the provider has been registered via Security.addProvider in order for the name to be resolved to the right provider.

It would be helpful to also support setting the custom provider by class name which would make this step unnecessary.

I recommend adding the property `jasypt.encr

[2018-01-14 14:18] rupert654 commented on #71
Does this work?:

    mvn clean install -Djasypt.encryptor.password=dummy

[2018-01-14 18:54] #72 closed

[2018-01-16 14:09] iKrushYou commented on #71
@rupert654 Hi thanks, yeah that does work, but now i'm running into the issue of having to have the decryption password stored on the Jenkins server.. I'm not necessarily worried about this being a security risk in reality, but I feel like this is probably not the best practice as far as passwords go..what do you think?

[2018-01-18 13:27] rupert654 commented on #71
@iKrushYou Yeah we went through this exact sequence of problems as well.

You are always going to be leaving a password somewhere. The main advantage for us of using jasypt was it allowed us to include passwords in version control securely whilst still allowing devs to run applications locally, easily.

The remote server (we use Jenkins as well) is still going to need the encryption passwords, and

[2018-01-25 03:44] kand617 commented on #69
I second this. the 1.17 does not work as expected. 1.16 works as per instructions.

[2018-01-25 04:52] ulisesbocchio commented on #69
Alright might be a regression. Let me take a look

[2018-02-01 04:49] wangyanrui commented on #69
same question
it doesn't work with spring cloud environment if version is 1.17 (1.16 is fine)
but it could work without spring cloud

[2018-02-01 05:57] qrqhuang commented on #69
same issue in cloud env with 1.17
wait for solution

[2018-02-01 06:44] ulisesbocchio commented on #69
can you guys please provide a code sample where it doesn't work? I tested every single module from the [sample projects](https://github.com/ulisesbocchio/jasypt-spring-boot-samples) against jasypt-spring-boot 1.17 and Spring Boot Versions 1.5.10, 2.0.0.M2 and 2.0.0.M7
I found no errors.

[2018-02-01 06:50] wangyanrui commented on #69
Spring Boot application uses @EnableEurekaServer and @SpringBootApplication

yml content
`spring:
  application:
     name: eurekaServer

eureka:
  instance:
    hostname: localhost
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/

jasypt:
  encryptor:
    #这里可以理解成是加解密的时候使用的密钥
    password:

[2018-02-01 06:58] ulisesbocchio commented on #63
this is fixed in 1.17

[2018-02-01 06:58] #63 closed

[2018-02-01 06:58] ulisesbocchio commented on #68
should be fixed in 1.17

[2018-02-01 06:58] #68 closed

[2018-02-01 07:09] Comven commented on #69
When i run it at spring-cloud environment with default configuration，I can‘t find the log like this

[2018-02-01 07:11] Comven commented on #69
When i run it at spring-cloud environment with default configuration，I can‘t find the log like this
`Encryptor config not found for property jasypt.encryptor.algorithm, using default value: PBEWithMD5AndDES
Encryptor config not found for property jasypt.encryptor.keyObtentionIterations, using default value: 1000
Encryptor config not found for property jasypt.encryptor.poolSize, using default value

[2018-02-01 07:15] wangyanrui commented on #69
@Comven
The same situation.
if add @EnableEncryptableProperties, it worked fine.

[2018-02-01 08:21] Comven commented on #69
I find a way can work fine,where use 1.17 version,the parameter wich we want to decrypt must be configured at bootstrap.properties instead of application.properties. if we configure it at application.properties, it will decrypt fail. It's not reasonable.
please have a look! @ulisesbocchio.

[2018-02-01 08:50] ulisesbocchio commented on #69
Just released 1.18, please validate the fix when It's available in maven central and let me know

[2018-02-01 09:02] ulisesbocchio commented on #71
I agree with @rupert654, @iKrushYou what I recommend though is to have your real properties somewhere else (the ones you use for DEV, STAGE, PROD, etc) , while keeping unencrypted properties for local development. That way your Unit Tests don't even need `jasypt.encryptor.password`
When you run in the actual environment though, someone will have to set the password there...

[2018-02-01 09:02] #71 closed

[2018-02-02 04:54] ulisesbocchio commented on #69
@Comven @wangyanrui @qrqhuang can any of you guys validate the fix please?

[2018-02-02 05:04] wangyanrui commented on #69
@ulisesbocchio
1.18 works fine!
Thanks!

[2018-02-02 06:10] Comven commented on #69
It runs perfectly.

[2018-02-02 17:37] ulisesbocchio commented on #69
Awesome! Thanks guys!

[2018-02-02 17:37] #69 closed

[2018-02-05 20:20] h-saxena commented on #62
I was having the same issue when using RefreshScope. Changing from boot starter to "StandardEncryptableEnvironment" configuration did solve the problem.

[2018-02-05 22:38] ulisesbocchio commented on #62
Thanks for sharing @h-saxena
I’ll close this issue then!

[2018-02-05 22:38] #62 closed

[2018-02-05 22:39] #61 closed

[2018-02-09 12:18] mauga opened #74 "error starting encryptablePropertyResolver with jasypt-spring-boot or jasypt-spring-boot-starter and jhipster/spring cloud"
encryptablePropertyResolver in a microservice
with jasypt-spring-boot 1.18 or jasypt-spring-boot-starter 1.18
and jhipster/spring cloud cannot start with error
"The dependencies of some of the beans in the application context form a cycle"

I tried all examples from github repos without results

versions:
spring-cloud.version Camden.SR6
spring-boot 1.5.2.RELEASE
jhipster 1.1.2

this is the final m

[2018-02-22 17:23] sonersivri opened #75 "password: ${DB_PASSWORD:ENC@[bxXEba+WWXFUqdxUkobtVw==]} nowt working"
password: ${DB_PASSWORD:ENC(bxXEba+WWXFUqdxUkobtVw==)} property default environment variable not working

[2018-02-22 17:28] sonersivri commented on #75
com.ulisesbocchio.jasyptspringboot.detector.DefaultPropertyDetector.isEncrypted(String)

 return (trimmedValue.startsWith(prefix) &&
                trimmedValue.endsWith(suffix));
regex control not startsWith solves problem

[2018-03-01 04:37] nvp152 opened #76 "Loading another jar's spring xml file: properties not decrypted."
I have a spring boot app and I use @EnableEncryptableProperties with the jasypt-spring-boot-starter. It works beautifully for all autowired @Service in my project using @value. However, it does not work for an imported spring xml referencing these properties. The property are uncrypted. This is how I include it:

[code]
Any ideas of what I may be doing wrong?

[2018-03-01 05:38] ulisesbocchio commented on #74
what does the `jasypt.encryptor.password` property looks like in your `application.properties` ?

[2018-03-01 05:52] ulisesbocchio commented on #75
yeah, there is a sort of bug in Spring property resolvers that for some reason, when it looks for properties with default values, it does not resolve the default part of the property through the same mechanism of resolving a property and instead just resolves the default property value.
The workaround you found is valid, otherwise another workaround is depicted in [jasypt-spring-boot-demo-simple](

[2018-03-01 05:52] #75 closed

[2018-03-01 05:56] ulisesbocchio commented on #76
a working example of that working is depicted in the [jasypt-spring-boot-demo](https://github.com/ulisesbocchio/jasypt-spring-boot-samples/blob/master/jasypt-spring-boot-demo/src/main/java/demo/DemoApplication.java) sample.
Please check there in case you're missing something.

[2018-03-01 06:05] ulisesbocchio commented on #76
I'd be curious to see the relevant parts of `client.xml` and how is injecting the properties to the declared beans in that config file. Can you share?

[2018-03-09 16:15] kheckelmann opened #77 "Can't get custom string encryptor for bootstrap properties to work"
Hi,
I'm trying to use jasypt-spring-boot-starter in a spring cloud config project. For most properties it works, but I have a problem with the password for the config server (spring.cloud.config.password) itself.

It is defined in the bootstrap.yml, so I tried to add the StandardEncryptableEnvironment to the application, as described in the documentation. Now it works if I set the password as syst

[2018-03-11 21:29] ulisesbocchio commented on #77
you can use:
[code]

[2018-03-12 08:15] kheckelmann commented on #77
Sorry, I didn't make myself clear. I tried that already - but the custom encryptor is just not used for the password. Instead a new default one is created from EnableEncryptablePropertiesBeanFactoryPostProcessor.postProcessBeanFactory. I think it is created by the default configuration from the jasypt-spring-boot-starter lib, because it doesn't work if I just use jasypt-spring-boot. I'm still not

[2018-03-12 16:12] ulisesbocchio commented on #77
let me take a closer look at initialization. Spring cloud uses 2 spring contexts, that might explain why you see the bean initializing twice. One context is private for the initialization of some beans to be able to fetch from the config server and isolate the bootstrap properties from the application properties.

[2018-03-15 09:21] ulisesbocchio commented on #77
Are you using the starter jar?

[2018-03-15 10:40] kheckelmann commented on #77
I tried both. With the starter lib I get the effect that the default encryptor is used. Without the starter lib and with the StandardEncryptableEnvironment passwords in the bootstrap yml are just not decrypted.

[2018-03-15 11:35] ulisesbocchio commented on #77
You have a working sample here: https://github.com/ulisesbocchio/jasypt-spring-boot-samples/tree/master/jasypt-spring-boot-demo-cloud-config
The problem is definitely the fact that cloud-config has its own context, so the encryptable decorators need to be bootstrapped twice, once on each context (the cloud context, and the app context).
The only way to add anything to bootstrap is through the `org

[2018-03-15 11:42] ulisesbocchio commented on #77
You can bootstrap in that key any configuration, for instance, a config class that adds the `@EnableEncryptableProperties` and a custom `StringEncyptor` bean. You would also import that same configuration class from your Application class, in order to have the encryption configuration once.

[2018-03-17 05:23] ulisesbocchio commented on #77
how did it go @kheckelmann ?

[2018-03-20 01:25] CodinngLee opened #78 "version 2.0.0 pom MetaDataParseException"
compile group: 'com.github.ulisesbocchio', name: 'jasypt-spring-boot', version: '2.0.0'

could not work, the problem:

  Required by:

[2018-03-20 06:41] ulisesbocchio commented on #78
you need the Finchley.M8 BOM
https://spring.io/blog/2018/03/02/spring-cloud-finchley-m8-is-available

[2018-03-22 15:38] mauga commented on #74
Sorry for the delay, none of the properties are set, We needed the jaspyt just to intercept the decoding of ours yaml properties. In the end we removed completely jasypt and written a spring event handler. Thanks anyway.

[2018-04-06 04:41] bakersemail commented on #78
I had to add spring's repo to my maven config.

[2018-04-08 04:00] #64 closed

[2018-04-08 04:00] #65 closed

[2018-04-08 04:00] #66 closed

[2018-04-08 04:01] #74 closed

[2018-04-08 04:01] #76 closed

[2018-04-08 04:02] #77 closed

[2018-04-08 04:03] #78 closed

[2018-04-11 05:40] netwolfuk opened #79 "Docs update: Mixing @Bean("jasyptStringEncryptor") with jasypt-spring-boot-starter"
TL;DR
Could you make it more obvious from the docs that if you have a custom `@Bean("jasyptStringEncryptor")`, you can't use `jasypt-spring-boot-starter`, you must use `jasypt-spring-boot` and `@EnableEncryptableProperties`

-----------

Firstly. thanks for such a great library.

We are using Spring 1.5.x, so I am using jasypt-spring-boot  1.17

I had a requirement to load the password from anothe

[2018-04-14 22:26] ulisesbocchio commented on #79
alright, will take a look and see if there's a bug...in Spring. The starter jar uses the exact same config as the annotation, literally. The only difference is when they're loaded. In theory, there should be no difference since the spring.factories beans and the application-provided beans end up in the same context, and the BeanFactoryPostProcessor that loads the encryption config should be trigge

[2018-04-16 15:00] corporate-gadfly commented on #78
Hate to comment on a closed issue, but in the future, would it be possible to depend on a spring-cloud version that is available in maven central? As, it is, I had to add spring milestone maven repo to my Nexus configuration.

[2018-04-16 21:39] netwolfuk commented on #79
Perhaps I was doing something wrong. When I made this little change it started working. I don't think I did anything else, but can look back through the git history if you want me to.

[2018-04-16 21:45] netwolfuk commented on #79
Just re-reading your comment:

I wonder if this is the problem for me.

I need some beans to be loaded, so that I can constructor inject the `PasswordProvider`, but other beans will need the `@Value` decrypted for them to be instantiated.

Perhaps that is more the issue, and it's a subtle chicken and egg problem.

[2018-04-17 01:04] ulisesbocchio commented on #79
Yeah, sounds like you’re onto something there. If you pull properties on the lifecycle of your encryptor bean...

[2018-05-10 15:02] ajaxon opened #80 "Spring boot 2 fails to start"
I have recently updated to the current spring boot 2 release and updated to 2.0.0 for the jasypt spring boot starter. I am not seeing what I could be doing wrong to cause the below issue.

[main] DEBUG com.ulisesbocchio.jasyptspringboot.configuration.EnableEncryptablePropertiesBeanFactoryPostProcessor - Application Event Raised: ApplicationFailedEvent
10:58:41.888 [main] ERROR org.springframework.

[2018-05-11 18:13] jigneshshukla opened #81 "jasypt-spring-boot-starter causes error when trying to deploy to weblogic 12c as springboot war app"
Hi

I'm using spring boot 1.5.9.RELEASE + jasypt-spring-boot-starter 1.12 (that's the approved version by my organization so I've to use that).

I'm building a spring boot war file and trying to deploy it on weblogic 12c and it throws following error.

Unable to access the selected application.
Message icon - Error String index out of range: 4513
Message icon - Error String index out of range: 451

[2018-05-15 13:31] ASCE1885 opened #82 "jasypt-spring-boot-starter:2.0.0 does not work"
gradle dependencies compile "com.github.ulisesbocchio:jasypt-spring-boot-starter:2.0.0" and run `./gradlew build` meet error as follow:

[code]

because `org.springframework.cloud:spring-cloud-dependencies:Finchley.M8` does not exists.

[2018-05-24 02:46] cseu commented on #82
Same issue when trying to upgrade to 2.0.0
[code]

[2018-05-24 06:55] yebgi83 commented on #82
Take a look at https://repo.spring.io/libs-milestone/org/springframeWork/cloud/spring-cloud-dependencies/
And you could't find Finchley.MB folder. I think it is the reason why.

I think repository for spring cloud is moved to https://repo.spring.io/milestone/org/springframework/cloud/spring-cloud-dependencies/

So you should to modify repository url at bottom of POM.xml like below.
[code]

[2018-05-28 20:43] ulisesbocchio commented on #82
Thanks for the details explanation @yebgi83. I know this works for Maven users, but is there a way to get the same effect on Gradle? Basically, specify this repo (until it becomes publicly available in central) maybe including some gradle file so users don't have do this manually?

[2018-05-29 04:18] yebgi83 commented on #82
As far as I know, In gradle, user should add repo path of spring manually. I don’t know perfect solution yet.

[2018-06-05 18:28] GRRedWings opened #84 "Issue trying to import"
I'm not sure if this is a library issue, or an issue with the project I'm trying to add it to.

When I add the following dependency to my POM
        <dependency>
            <groupId>com.github.ulisesbocchio</groupId>
            <artifactId>jasypt-spring-boot-starter</artifactId>
            <version>2.0.0</version>
        </dependency>

I get a "Failed to read artifact descriptor" error.  With

[2018-06-05 20:02] ulisesbocchio commented on #84
what kind of project is this? Maven? Gradle? May be related to issue #82

[2018-06-05 20:33] GRRedWings commented on #84
I am using Maven.  I tried adding the repository snippet you put in my maven file. I'm not sure I'm using it right, but same errors.

[2018-06-05 20:37] ulisesbocchio commented on #84
Would you be able to create github repo where I can troubleshoot the issue?

[2018-06-06 12:42] GRRedWings commented on #84
I'm not sure I'm able to get a github repo.  I'm going to see if I can't reproduce something similar with your demos.

I will say, that in order to get the Demos to work, I had to edit the parent pom.xml in your demo project.

        <jasypt.spring.boot.version>2.0.1-SNAPSHOT</jasypt.spring.boot.version>

I changed to
        <jasypt.spring.boot.version>2.0.0</jasypt.spring.boot.version>

[2018-06-13 08:42] lambav opened #85 "Not working with webflux and consul-config"
I have these things in my pom. Its just Hello world using webflux.

	<dependency>
			<groupId>org.springframework.cloud</groupId>
			<artifactId>spring-cloud-starter-consul-config</artifactId>
			<exclusions>
				<exclusion>
					<groupId>org.springframework.boot</groupId>
					<artifactId>spring-boot-starter-web</artifactId>
				</exclusion>
			</exclusions>
		</dependency>

		<dependency>
			<gr

[2018-06-13 21:22] ulisesbocchio commented on #85
can you remove:
[code]

[2018-06-18 16:39] kevindaub opened #86 "Spring Cloud Compile Reference"
When specifying the package of 'com.github.ulisesbocchio:jasypt-spring-boot:2.0.0', the packages associated to 'org.springframework.cloud:spring-cloud-dependencies'.  I don't believe you need the cloud dependencies when using the non-starter one.

Currently, I get the following stacktrace from gradle. I can force it to resolve, but it's only necessary if you are using spring cloud, so I'm not sure

[2018-06-20 13:27] frasch1712 opened #87 "Stackoverflow with Spring Boot 2"
After Switching from Spring Boot 1 to Spring Boot 2 we get a StackOverflowError in EncryptablePropertySource. It seems to be an issue with org.springframework.core.env.CompositePropertySource in combination with @EnableAutoConfiguration. Examples causing the problem: ValidationAutoConfiguration.class, PersistenceExceptionTranslationAutoConfiguration.class. The way of the property lookup changed in

[2018-06-20 13:40] frasch1712 commented on #87
I didn't saw the 2.0.0 version.

[2018-06-20 13:40] #87 closed

[2018-06-29 09:07] pinux-studio opened #88 "issues trying to use ALGO PBEWITHHMACSHA512ANDAES_256"
Your project is really awesome and I like the document you have done. However, I fail to find the way to use customised algo such as PBEWITHHMACSHA512ANDAES_256 in my project.

My setup looks like:
- I use @SpringBootApplication and jasypt sprint boot starter dependency
- I Configure the application property file to use jasypt.encryptor.algorithm=PBEWITHHMACSHA512ANDAES_256
- I use jasypt to encry

[2018-07-10 16:34] Ravattailor opened #89 "Requested bean is currently in creation: Is there an unresolvable circular reference?"
`I` am trying to read the password from properties file but getting this exception.

stack trace:-
[code]

My configuration class

[code]

test-encrypted.properties file:-

[code]

[2018-07-13 01:00] ppsnumi commented on #86
I have same issue.

My internal maven compatible respository could not found jasypt 2.0.0 dependency that can't access milestone repository.

and spring cloud Finchely current status RELEASE not milestone.

[2018-07-16 00:08] ulisesbocchio commented on #89
let me take a look

[2018-07-18 05:17] ulisesbocchio commented on #89
should work out of the box with `jasypt-spring-boot:2.1.0`

[2018-07-18 05:17] #89 closed

[2018-07-18 09:09] ulisesbocchio commented on #88
Jasypt simply doesn't work with that algorithm the way its internal encryptor is setting cipher params:

[code]

[2018-07-19 18:43] ulisesbocchio commented on #88
Yo can use [SimplePBEByteEncryptor](https://github.com/ulisesbocchio/jasypt-spring-boot/blob/master/jasypt-spring-boot/src/main/java/com/ulisesbocchio/jasyptspringboot/encryptor/SimplePBEByteEncryptor.java) in conjunction with [SimplePBEStringEncryptor](https://github.com/ulisesbocchio/jasypt-spring-boot/blob/master/jasypt-spring-boot/src/main/java/com/ulisesbocchio/jasyptspringboot/encryptor/Simp

[2018-07-19 18:43] #88 closed

[2018-07-19 18:46] ulisesbocchio commented on #86
dependencies have been fixed in 2.1.0, sorry for the inconvenience!

[2018-07-19 18:46] #86 closed

[2018-07-19 18:50] ulisesbocchio commented on #85
Closing this for lack of response, but just FYI spring-cloud supports property encryption out of the box

[2018-07-19 18:50] #85 closed

[2018-07-19 18:52] ulisesbocchio commented on #84
dependencies were fixed in 2.1.0

[2018-07-19 18:52] #84 closed

[2018-07-19 18:55] ulisesbocchio commented on #81
I wonder if there are any properties in your environment that jasypt-spring-boot is trying to pick up and failing. Can you pull all the environment props available to spring-boot and post them?
You can also try using one of the EncryptableEnvironment classes and bootstrap jasypt that way.

[2018-07-19 18:55] ulisesbocchio commented on #80
Please try new release 2.1.0

[2018-07-19 18:55] #80 closed

[2018-07-20 06:27] bydongxing opened #91 "jasypt-spring-boot-starter-2.0.0: not working"
when my Springboot2.x use jasypt-spring-boot-starter-2.0.0  have some issue:

2018-07-20 14:25:44.328  INFO 44896 --- [           main] y.f.s.SpringbootSimpleApplication        : Starting SpringbootSimpleApplication on Lenovo-PC with PID 44896 (E:\IntelliJ_IDEA_WorkSpace\springboot-simple\target\classes started by Lenovo in E:\IntelliJ_IDEA_WorkSpace\springboot-simple)
2018-07-20 14:25:44.337  INF

[2018-07-20 11:48] ulisesbocchio commented on #91
You're getting: `java.sql.SQLException: Access denied for user 'ENC(ZAFECnKizUXH7545HADm2Q==)'@'localhost' `
which means your encrypted password is not getting decrypted. I wonder how you're configuring your Spring boot app... There are plenty of examples here: https://github.com/ulisesbocchio/jasypt-spring-boot-samples

[2018-07-28 18:46] gurpal2000 opened #92 "Example to store key in a file"
Hi, can someone point me to an example where the jasypt.encryptor.password can be kept in a file instead. I've tried combinations of @EncryptablePropertySource("file:///d:/password.txt") to no avail.

i see a log line which suggests it works:
Created Encryptable Property Source 'EncryptedPropertySource#1532803802929' from locations: [file:///d:/password.txt]

followed by:
Reason: Required Encrypti

[2018-07-29 13:06] TioCoding opened #93 "How to avoid decryption?"
Hi, I'm starting to document about jasypt, and I think it's great, I've been testing it but I ran into a problem. I have created my key to perfection, this is my .yml file:

[code]
The value I try to hide is this:

`http://localhost:8080/api/`

But I found this page, where putting the value, the password of the key, you get the result:

Page: https://www.devglan.com/online-tools/jasypt-online-encr

[2018-07-31 05:06] ppsnumi opened #94 "spring-boot 1.5.15 throw error"
spring boot 1.5.15 with jasypt-spring-boot-starter-2.1.0 has some error

work fine
spring-boot 1.5.15 + jasypt-spring-boot-stater 1.18 + gradle
start log
2018-07-31T13:50:23,335+0900 [main] DEBUG c.u.j.c.EnableEncryptablePropertiesBeanFactoryPostProcessor - Application Event Raised: ApplicationEnvironmentPreparedEvent

  .   ____          _            __ _ _
 /\\ / ___'_ __ _ _(_)_ __  __ _ \ \ \

[2018-07-31 06:06] ppsnumi commented on #94
my project convert to spring boot 2.x
fine work. my mistake.
thanks

[2018-07-31 06:06] #94 closed

[2018-08-14 08:47] Ziemowit commented on #91
Hi @bydongxing.
It works well for me with spring-boot 2.0.1.RELEASE.

So probably it is the issue in your configuration :)

[2018-08-21 08:27] zhengyinxi opened #95 "support for lower order EnvironmentPostProcessor"
EnableEncryptablePropertiesBeanFactoryPostProcessor return order as Ordered.LOWEST_PRECEDENCE;

looks like there is no way for user to append lower PRECEDENCE EnvironmentPostProcessor.

Is there any feature or config to customize order?

[2018-08-21 09:15] #95 closed

[2018-08-22 12:04] ade90036 opened #96 "Changing Algorithm fails to decrypt properties."
Hi,

i have able to reproduce the correct behavious specifying the following:

1. ENV variables containing the TEST=ENC('testfields') to be decrypted by spring boot along with JASYPT_PASSWORD=test

2. spring boot application.property which optionally reads the field is environment variable is not found. This is to have sensible defaults and specify different setting for each environment
decrypted.

[2018-08-22 15:26] ade90036 commented on #96
Problem is with JASYPT which is not able to wrap the IV property on the string.

A quick test show this behaviour:

[code]

The unit test which you have are passing and are also using the same algorithm i'm trying to use, but you are extending the JASYPT to correctly wrap the IV in the ciphertext and then decryptit correctly in **SimplePBEStringEncryptor**

So i'm not really sure why this project

[2018-08-22 15:28] ade90036 commented on #96
This is the list of possible algorithm defaults.. Unit testing are passing because they are using a class which is not used in the main codebase.. pants..

PBEWITHHMACSHA1ANDAES_128       NOT_POSSIBLE_DECRYPT
PBEWITHHMACSHA1ANDAES_256       NOT_POSSIBLE
PBEWITHHMACSHA224ANDAES_128     NOT_POSSIBLE_DECRYPT
PBEWITHHMACSHA224ANDAES_256     NOT_POSSIBLE
PBEWITHHMACSHA256ANDAES_128     NOT_POSSIBLE_DEC

[2018-09-06 16:17] writemevenkat opened #97 "Getting ClassNotFoundException for PlaceholdersResolver with version 2.1.0, the same works fine with 2.0.0"
Getting the following error with 2.1.0 & spring boot version (v1.5.12.RELEASE)

2018-09-06 11:13:55.095  ERROR  []  | [] | [] | main | | o.s.boot.SpringApplication - Application startup failed
java.lang.NoClassDefFoundError: org/springframework/boot/context/properties/bind/PlaceholdersResolver
	at java.lang.Class.getDeclaredMethods0(Native Method)
	at java.lang.Class.privateGetDeclaredMethods(Clas

[2018-09-25 10:42] sddakoty commented on #92
Provide it as vararg, system property or environment variable. eg:
```-Djasypt.encryptor.password=secretphrase```

[2018-09-25 10:45] membersound opened #98 "EncryptablePropertySourceConverter should only convert files defined in .include-sources"
On startup, I get the following message logged for all of my *.properties:
[code]

But as I set the following property:
[code]
It would be great if the ```EncryptablePropertySourceConverter``` could simply skip the files not mentioned there. Because I already told him with the property that the other files don't contain encrypted values, thus these files could be skipped entirely.

[2018-09-25 12:38] sddakoty opened #99 "@ConfigurationProperties not working with jasypt"
The following properties will not be decoded by jasypt.
It there any way you could process ```@ConfigurationProperties``` also?

[code]

[2018-09-25 14:42] ulisesbocchio commented on #92
You can technically just include any property file with the property `jasypt.encryptor.password` but it can’t just be a txt file. It has to be properties format if you user @PropertySource. If you use @EncryptablePropertySource it could also be yml

[2018-09-25 14:50] ulisesbocchio commented on #98
You’re right. I will take a look but I think that all property sources get converted regardless. The filter logic is then applied when properties are looked up, so semantically, it should work as you expect

[2018-09-25 15:04] ulisesbocchio commented on #99
I’ll have to test this. Give me some time, but any property added to application.properties will be elegible for decryption. They’re intercepted at the propertySource level. ConfigurationProperties classes should pick them up later. Is this your own ConfigurationProperties annotated class ?

[2018-09-25 15:33] sddakoty commented on #99
No it's not my own, that's why I added the declaration `package org.springframework.boot.autoconfigure.jdbc;`.

I will also have a deeper look into this tomorrow.

[2018-09-26 08:34] sddakoty opened #100 "jasypt.encryptor.property.filter.include-sources prevent decryption!"
As soon as I set one of the following properties, the encrypted ENC fields are not decrypted anymore.

application.properties:
[code]

[code]

pom.xml:
[code]

What is strange: the logs show that the ```application.properties``` have been converted to encrytable map even when using the include-sources filter:

[code]

What I noticed is that the ```DefaultLazyEncryptor``` constructors content is sk

[2018-09-26 17:57] taulatin commented on #89
The same problem was found in version 2.1.0

I used something like that:

@Component
public class ResolverConfig {
	@Value("${secret}") String secret;
	@Bean(name="encryptablePropertyResolver")
	public EncryptablePropertyResolver encryptablePropertyResolver() {
		return new CustomEncryptablePropertyResolver(secret);
    }
}

The problem because of @Value("${secret}") String secret;

[2018-10-03 20:35] springnotes00 opened #101 "Decryption of Properties failed, make sure encryption/decryption passwords match"
Hello

I have jasypt-spring-boot-1.17 with spring version "4.2.5.RELEASE" and spring Boot version "1.5.3.RELEASE".

I am using the first method from this website (https://github.com/ulisesbocchio/jasypt-spring-boot) since I use @SpringBootApplication in my application.java class.

I did the first testing.
1. I used this notation @PropertySource("classpath:sampleservices.yml") or @PropertySource("c

[2018-10-08 01:55] Zhiyuan-Amos commented on #50
Hello, first of all, thank you for your project! :)

I faced the same [issue](https://github.com/ulisesbocchio/jasypt-spring-boot/issues/50#issuecomment-309285811) above when I used Spring Boot version 2.1.0.M3. I took a while to debug that - just leaving this comment here in case there's other users facing the same issue.

I downgraded to 2.1.0.M1 and it works.

[2018-10-10 10:56] anderius opened #102 "NoSuchMethodError with Spring Boot 2.1.0.M4"
Spring Boot 2.1 changed the return type of `org.springframework.boot.convert.ApplicationConversionService#getSharedInstance` from `ConversionService` to `ApplicationConversionService`.

Somehow this breaks jasypt-spring-boot:

`Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'la

[2018-10-19 08:39] AnnaSkawinska opened #104 "Missing flag to avoid decryption in tests"
Is it possible to tur off decryption of properties in integration tests?

I've got a bunch of `@SpringBootTest`s which raise Spring context including property source beans, so in case I don't provide `jasypt.encryptor.password`, context creation fails.

I don't necessarily want to take care of storing the password a safe way for tests only. In my tests I don't also need the properties to be decryp

[2018-10-19 15:48] ulisesbocchio commented on #104
It should not bother you if you don’t have any encrypted properties. But I’ll doble check

[2018-10-23 21:52] jpmsilva commented on #102
Hello

I created an [issue](/spring-projects/spring-boot/issues/14938) with the Spring Boot project, hoping that they can shed some light if this breaking change in the `ApplicationConversionService.getSharedInstance()` is really needed.

I'm hoping that this may still be reversed, as releasing the jasypt spring boot project compiled against Spring Boot 2.1, if this breaking change is not reversed

[2018-10-26 11:37] jebricker opened #106 "Working in IDE but not in JAR on server"
I am having an odd problem that I can't figure out.

Using spring-boot 2.0.1 and jasypt-spring-boot version 2.1.0, Application is using ConfiguredProperties to load property classes.  I encrypt my passwords using jasypt 1.9.6 on a Windows machine via bash shell

`encrypt.sh input='somepassword' password='secretpassword' algorithm=PBEWithMD5AndDES`

some properties
[code]

If I run the app in my ID

[2018-10-26 12:02] jebricker commented on #106
Just adding the full error message:

[code]

[2018-10-29 13:59] jebricker commented on #106
Just adding the full error message:

2018-10-26 07:29:47.794  WARN 9240 --- [           main] ConfigServletWebServerApplicationContext : Exception encountered during context initialization - cancelling refresh attempt: org.springframework.boot.context.properties.ConfigurationPropertiesBindException: Error creating bean with name 'RIMProperties': Could not bind properties to 'RIMProperties' : prefi

[2018-10-29 13:59] #106 closed

[2018-10-29 14:00] jebricker commented on #106
I was passing in my properties in the VM with -Dsome.property in the IDE which works.  I needed to use --some.property with the jar

[2018-11-09 15:00] melloware commented on #96
Your bug definitely explains it all.  The underlying Jasypt libray has not been upgraded since 2014 so it doesn't support the new JDK8 algorithm's.  I worked with this guy to have a fork of Jasypt that supports IV.

https://github.com/alexscal/jasypt

[2018-11-09 15:45] ulisesbocchio commented on #96
Hey guys, I’m aware of the shortcomings in fact there’s a string encoder that I threw in somewhere that uses a newer algorithm without jasypt because of the same problem you guys are describing. I’ll take a look at the new fork and and do some tests

[2018-11-10 09:16] ade90036 commented on #96
If we could create an interface like (org.jasypt.encryption.StringEncryptor) with encrypt and decrypt methods signatures then we could remove Jasypt all together. We could replace the: SimplePBEByteEncryptor with a Java standard JCE implementation which would be enough for majority of users.

For my production code I use something similar, so I can combine the IV with the encrypted Cipher.

Howeve

[2018-11-10 12:28] melloware commented on #96
@ade90036 I think its as simple as using that fork and reading this fix I made: https://github.com/alexscal/jasypt/issues/1

It will allow this library to use all old and new encryptions.  If your goal is getting rid of Jasypt that feels like an entirely new Spring Boot Starter should be written since this one is based around Jasypt.  Maybe "Spring Boot Encryption"

[2018-11-10 12:50] ade90036 commented on #96
Ok that makes perfect sense..

I'll consider forking and remove the jasypt myself. I'm not a fan of having a transient dependency in my project which I don't particularly use (except of a interface). One that has not been maintained in ages.

Keep it mind that the JBoss container I'm using has already deployed BouncyCastle as a provided dependency which I'm using quite extensivelly in my project.

[2018-11-12 18:19] melloware commented on #104
I am using 2.1.0 and I am seeing behavior I didn't expect.

ENC property like this works fine
`spring.datasource.password=ENC(1W+NaD8JG7UvJE/7tc8iQg==)`

if I use the clear text version it is still trying to decrypt it for some reason.  Is it looking for properties that contain the word "password" instead of just properties that use ENC()?
`spring.datasource.password=clear`

[2018-11-21 04:57] ravika-mdosl commented on #80
I'm having this issues as well. I use 2.10:

[code]

[2018-11-26 19:20] dcampello opened #108 "help...encryptor automatic configuration"
is it possible to use the same encryptor configuration that automatically detects and decrypts data from the .properties file to decrypt an encrypted variable elsewhere in the application? How do I recover this encryptor already configured to reuse in the application? I'm using with spring and the @SpringBootApplication and @EnableAutoConfiguration annotations

[2018-11-26 19:53] ulisesbocchio commented on #108
yes, the default bean name is: jasyptStringEncryptor but you can also inject it by type: StringEncryptor.
Here's the doc section: https://github.com/ulisesbocchio/jasypt-spring-boot#use-you-own-custom-encryptor

[2018-11-26 19:53] #108 closed

[2018-11-27 07:49] syifarahmat commented on #51
this very good
but not support for spring boot 2.1.0.RELEASE,
if use spring boot 2.0.3.RELEASE is run normal, but else on other version always ERROR: String Encryptor custom Bean not found with name 'jasyptStringEncryptor'. Initiali
zing Default String Encryptor

please help me

[2018-11-29 07:45] ulisesbocchio commented on #104
Ok, do you have another ENC() property somewhere else? I just tested one of the sample apps and as far as I don't have any ENC() decorated property I don't need to set the password.
Check this sample where app and tests don't provide password and everything runs properly: https://github.com/ulisesbocchio/jasypt-spring-boot-samples/tree/master/jasypt-spring-boot-demo-no-password

[2018-11-29 07:45] #104 closed

[2018-11-29 07:46] ulisesbocchio commented on #102
tested on 2.1.0, thanks @philwebb

[2018-11-29 07:46] #102 closed

[2018-11-29 07:52] ulisesbocchio commented on #100
Yes, so defining that property will void the catch all config by default. So you defining include-sources will just include what you selected. In this case nothing... since the `application.properties` file property source name is `applicationConfig` and the filter is based on the name of the property source, not the file name, since property sources are not necessarily backed by files.

[2018-11-29 07:52] #100 closed

[2018-11-29 07:54] #101 closed

[2018-11-29 07:55] ulisesbocchio commented on #98
closing this since the behavior is as expected. One caveat though, the `include-sources` is based on the property source name, and `application.properties` is not the property source name of the application.properties file, the actual name is `applicationConfig`

[2018-11-29 07:56] ulisesbocchio commented on #97
yes, you have to use an older version of `jasypt-spring-boot`

[2018-11-29 07:56] #97 closed

[2018-11-29 07:59] ulisesbocchio commented on #96
@melloware are you releasing the fork to central?

[2018-11-29 08:02] ulisesbocchio commented on #93
well, the idea is that you don't put `jasypt.encryptor.password` in your properties. It's like having a door with a lock but hanging the key to the look on the door itself, it serves no purpose. What you have to do is keep the key safe and use it get in and out and locking the door behind you. Same here, you have to "inject" the encryption password when you needed, meaning when you run the applica

[2018-11-29 08:02] #93 closed

[2018-11-29 08:03] #92 closed

[2018-11-29 08:08] ulisesbocchio commented on #91
yes, seems like a config issue, thanks @Ziemowit for helping out. Check out newly added sample with DB tests: https://github.com/ulisesbocchio/jasypt-spring-boot-samples/tree/master/jasypt-spring-boot-demo-db-h2

[2018-11-29 08:08] #91 closed

[2018-11-29 08:08] ulisesbocchio commented on #81
closing due to inactivity

[2018-11-29 08:08] #81 closed

[2018-11-29 10:32] sddakoty commented on #98
So your advise is to set ```jasypt.encryptor.property.filter.include-sources=applicationConfig```??

[2018-11-29 12:17] melloware commented on #96
@ulisesbocchio Let me see if I can do that.   Jasypt has tons and tons of JARS I might only build and deploy the core Jasypt JAR to Maven Central since that is all your library seems to use.  Any objection to that?
You use:
[code]
So I could make a:
[code]
I feel like Jasypt has had no releases in 5 years so forking it to keep this wonderful Spring Boot accessory alive is worth it.  Do you agree?

[2018-11-29 15:37] ulisesbocchio commented on #96
Yes, that would be great @melloware

[2018-11-29 15:51] ulisesbocchio commented on #98
yes, you can either use `include-sources=applicationConfig` or `include-names="some\.property\.prefix\..*"`

[2018-11-29 20:42] melloware commented on #96
I will submit a PR tonight hopefully.  I have been testing it locally and I am waiting for Maven Central to publish my Jasypt JAR.  Stay tuned.

[2018-11-30 04:45] ulisesbocchio commented on #96
Ok great, can you checkout the samples repo and test those too? They all have unit tests. Basically nvm install jasypt spring boot with the new dependency and do a mvn clean install on the root of the samples repo

[2018-11-30 12:14] melloware commented on #96
Yep!  didn't know about the samples repo but i will do that as well.

[2018-12-04 07:56] sddakoty opened #110 "Private key instead of String password?"
Would it be possible to use a private key as "password" for the property encryption?
Probably there is no chance in getting that feature into native jasypt, as last version update was in 2014.

But maybe you could add such a feature in your spring wrapper?

[2018-12-06 11:54] melloware commented on #96
OK PR submitted: https://github.com/ulisesbocchio/jasypt-spring-boot/pull/109

And all samples and tests have been updated and everything is working.

[2018-12-06 12:04] melloware commented on #96
I just fixed my merge issue I see you updated to add Assymetic.  Its building now.

[2018-12-07 05:15] #96 closed

[2018-12-07 07:20] Arnaud-Nauwynck opened #111 "error trying to sub-class final class with cglib"
Hi,

I have these error when starting a project with springboot 2.1.0.RELEASE and jasypt-spring-boot-starter 2.1.0

Look simple to fix:  "if (Modifier.isFinal(class.getModifiers()) { ... do not try sub-class wth cglib ... } "

org.springframework.aop.framework.AopConfigException: Could not generate CGLIB subclass of class org.springframework.boot.env.OriginTrackedMapPropertySource: Common causes o

[2018-12-07 08:32] ulisesbocchio commented on #111
Ok, will take a look, thanks

[2018-12-08 13:14] ramkumarar opened #112 "Spring Cloud starter not decrypting during refresh"
I'm using jasypt-spring-boot-starter (2.1.0) in a spring cloud config project.When the config loads for the firt time from config server the encrypted values are getting properly decrypted. But when i do a refresh via actuator endpoint the encrypted value is passed as is and not getting decrypted. Iam having following properties in cloud configuration and passing the password via JVM run time argu

[2018-12-10 03:06] dengjfeng opened #113 "jasypt-spring-boot-starter-2.1.0 does not work with spring-boot-starter-1.5.8.RELEASE"

[2018-12-10 03:07] dengjfeng commented on #113
I got this:

2018-12-10 10:53:26.931 |-DEBUG [main] com.ulisesbocchio.jasyptspringboot.configuration.EnableEncryptablePropertiesBeanFactoryPostProcessor [64] -| Application Event Raised: ApplicationFailedEvent
2018-12-10 10:53:26.946 |-ERROR [main] org.springframework.boot.SpringApplication [771] -| Application startup failed
org.springframework.beans.factory.BeanCreationException: Error creating

[2018-12-10 03:53] ulisesbocchio commented on #113
Yes, version 2 is not compatible with spring 1.5, use latest v1

[2018-12-11 15:53] sddakoty commented on #98
Just as a sidenote: I never got it working with `include-sources` even though I'm only having a simple `application.properties` file, and using `jasypt.encryptor.property.filter.include-sources=applicationConfig`. The password is never decoded.

Inspite, I could get it working with `jasypt.encryptor.property.filter.include-names=spring.datasource..*`

Maybe you could have a look again on the `incl

[2018-12-11 16:26] ulisesbocchio commented on #98
thanks for the heads up, I'll take a look

[2018-12-21 03:05] apacheshine commented on #79
Thanks for  this  niubility lib firstly and thanks for netwolfuk !  I met the same trouble.   use ur way then ok.
should use jaspyt-spring-boot not starter and use @EnableEncryptableProperties magic .
This magic must to be placed on the Springboot start class.

[2019-01-08 14:27] stevejb71 opened #114 "Incorrect client defined property resolver should cause failure"
If a jasypt.encryptor.property.resolver-bean is specified, but the bean is not found, Spring jasypt falls back to the default property descriptor with an info log (in DefaultLazyPropertyResolver).

I think a failure is a better response, as the bean has been explicitly specified by the client code.

[2019-01-15 04:49] Yuhuiyang-Dev opened #115 "Relaxed binding is not support"
Currently only support read properties on 'jasypt.encryptor.password', Relaxed binding read is not supported  . related connection  https://docs.spring.io/spring-boot/docs/1.5.19.RELEASE/reference/htmlsingle/#boot-features-external-config-relaxed-binding

[2019-01-23 17:19] hauntingEcho commented on #79
I'm not having this issue, using `spring-boot-starter-parent` version 2.1.2

[2019-01-24 01:32] apacheshine commented on #79
Maybe, It's the bug for springboot 1.5.x.

[2019-01-28 13:14] Savers80 opened #118 "Reset/Reload jasypt.encryptor.password at runtime"
Hi,
I use jasypt-spring-boot-starter and configured Web Application with @SpringBootApplication
to read Environment property;
Into Login action Controller the webApp ask the password of jasypt and i use it to set System.setProperty("jasypt.encryptor.password", jasyptPassword);

If the password is correct all work correctly,
the problem is when the password is not correct (with the subsequent tenta

[2019-02-05 21:03] melloware opened #119 "Update to Spring Boot 2.1.2 Release"
Please update to Spring Boot 2.1.2.

Also any word on a release any time soon?

[2019-02-05 21:22] ulisesbocchio commented on #119
Yes, sorry, will release shortly!

On Tue, Feb 5, 2019 at 1:03 PM Melloware <notifications@github.com> wrote:

[2019-02-07 07:09] ulisesbocchio commented on #119
done! Thanks for your contributions @melloware!
Checkout the new [asymmetric encryption](https://github.com/ulisesbocchio/jasypt-spring-boot#asymmetric-encryption) feature

[2019-02-07 07:09] #119 closed

[2019-02-07 07:13] ulisesbocchio commented on #118
you can try something like this: https://andressanchezblog.wordpress.com/2016/09/15/refresh-scope-in-spring-cloud/
using the `@RefreshScope` annotation on a custom `stringEncryptor` bean

[2019-02-07 07:13] #118 closed

[2019-02-07 07:35] ulisesbocchio commented on #115
It works partially, for instance you can set `JASYPT_ENCRYPTOR_PASSWORD`or `JASYPT_ENCRYPTOR_KEYOBTENTIONITERATIONS` but not `JASYPT_ENCRYPTOR_KEY_OBTENTION_ITERATIONS` but I'll get those fixed

[2019-02-07 07:37] ulisesbocchio commented on #115
fixed, will be out next release, thanks for reporting!

[2019-02-07 07:37] #115 closed

[2019-02-07 07:45] ulisesbocchio commented on #114
I hear ya, lemme se what I can do...

[2019-02-07 07:45] ulisesbocchio commented on #110
done! enjoy: https://github.com/ulisesbocchio/jasypt-spring-boot#asymmetric-encryption

[2019-02-07 07:45] #110 closed

[2019-02-07 07:46] ulisesbocchio commented on #111
closing this, thanks @PierrePrimot

[2019-02-07 07:46] #111 closed

[2019-02-07 07:47] ulisesbocchio commented on #113
resolving this one

[2019-02-07 07:47] #113 closed

[2019-02-07 07:52] ulisesbocchio commented on #79
I tried both the starter and annotation ways on all demo apps and everything works fine with spring boot 2.X. Seems like an issue with spring boot 1.X

[2019-02-07 07:52] #79 closed

[2019-02-07 11:58] stevejb71 commented on #114
Great, thank you!

[2019-02-08 12:46] melloware commented on #119
Nice work and thanks for the release!  My clients will be happy now I can move to higher encryption levels.

[2019-02-14 20:02] chriswhite199 opened #121 "How to encrypt string using jascypt cli"
Is there any advice on how to encrypt a string from the CLI?

I assumed that i could just use the same Class that jasypt's bin/encrypt.sh uses, but that yields garbage when decrypted inside a Spring Boot application;

I added a gradle task as follows to assist:

[code]

And invoked by:

[code]

But the defaults used by DefaultLazyEncryptor inside spring as output in the logs uses a saltGenerator (

[2019-02-18 12:03] andreasreinhardt opened #122 "Jasypt breaks properties injection with env variables"
jasypt spring boot version: 2.1.1
spring boot version: 2.1.2.RELEASE

How to reproduce:
Create a new Spring Boot Starter Web app and add a @ConfigurationProperties class with a String field. Add a @RequestMapping that returns this string. Start the app with the environment variable that sets this string. Calling this method will return the set value as expected.
If you add jasypt as additional dep

[2019-02-20 17:10] brunomendola commented on #121
I can confirm this issue, starting from version 2.1.1.

I had to revert to version 2.1.0 to make the CLI work again.

[2019-02-20 17:36] chriswhite199 commented on #121
In the end i had to create a Helper class to call from groovy, instead of the Jasypt CLI class:

Badly Copy&Pasted from another machine, so apologies for any typos :

[code]

[2019-02-28 15:35] ulisesbocchio commented on #121
That's good. The library doesn't provide a CLI interface. I'm all years as to what a CLI would look like and contributions are welcome in this area.

[2019-02-28 15:37] ulisesbocchio commented on #122
Interesting, let me dig on it. Can you create a repo with your sample app?

[2019-02-28 21:49] yerko76 opened #123 "Decrypted property is showing with funny characters."
Hi, when my app resolves encrypted property those properties are showing funny characters and I'm no able to provide the right credentials

My property is = �U�|�aװ�ı����QY��F0ldo

 compile'com.github.ulisesbocchio:jasypt-spring-boot-starter:2.1.1'
'org.springframework.boot' version '2.1.3.RELEASE'

hello: ENC(JKISZ6XdI94/+ztspLLRgIc+hXjiZTlQ/VuzBR3jYbqmMRE6IGeYUw==)

jasypt:
  encryptor:
    pa

[2019-03-01 07:34] andreasreinhardt commented on #122
Here you are: https://github.com/andreasreinhardt/jasypt-environment-bug
By the way: I further found out that the problem only comes up when the properties contain dashes that I replace with underscores in the environment variable (which is valid for Spring relaxed properties binding). If I just remove the dash in the environment variable, it is working (see README).

[2019-03-25 10:44] TheMercuryBeat commented on #123
Hi there,

I'm migrating from Spring Boot 1 to Spring Boot 2. When the property is decrypted in Spring Boot 1 works. But now I don't know what happens, in Spring boot 2 when the app gets the property from database and decrypt it, the value is �d�x��X�W����

Could you help me?

Thanks

[2019-03-26 14:04] maybeec opened #124 "IOException while using PBEWITHHMACSHA512ANDAES_256"
Referring to #88 thanks for pointing out the configuration for `algorithm=PBEWITHHMACSHA512ANDAES_256`.
But anyhow, I could not get it to run. I am generating my password by passing the parameters `algorithm=PBEWITHHMACSHA512ANDAES_256 saltGeneratorClassName=org.jasypt.salt.RandomSaltGenerator`. Furthmore, I took the configuration you have shown in #88.

Anyhow, at debugging, I can see, that an IO

[2019-03-26 14:57] maybeec commented on #124
Regenerating the encoded password, I now got

`java.io.IOException: DerInputStream.getLength(): lengthTag=124, too big.`

I am a little bit confused. Is the password passed to the `SimplePBEByteEncryptor` interpreted as a DER encoded certificate or is it used to decrypt a DER encoded certificate? If so, where should I configure a path for such a certificate?

[2019-03-26 15:31] maybeec commented on #124
I also tried https://github.com/ulisesbocchio/jasypt-spring-boot-samples/tree/master/jasypt-spring-boot-demo-custom-encryptor/src/main/resources which seems to work fine with `PBEWithMD5AndDES` only.

[2019-03-27 04:53] mbyrne00 commented on #122
We've noticed the same thing - it's only failing for us when running a `@SpringBootTest` with `SpringExtension` runner. Worked fine when we started the actual server. Many thanks to @andreasreinhardt for his suggestion as setting that property in our `test` `application.yaml` fixed the problem for us.

[2019-03-28 06:47] yangkebiao opened #125 "In the integration of spring-cloud-starter-bus-amqp, spring-cloud-config-server request /bus/refresh error"
the log shows that the parameter is not decrypted, resulting in an exception，version：jasypt-spring-boot-starter:2.0.0
log error info：java.net.UnknownHostException: ENC{tRq91isva....

[2019-03-29 02:14] yangkebiao commented on #112
How to solve it? Can you show the code?

[2019-04-09 04:55] duanhairuo opened #126 "when i used this, but log to file not work, logback"

[2019-04-09 04:56] duanhairuo commented on #126
logback.xml not work,others is ok

[2019-04-09 08:12] #126 closed

[2019-04-17 05:55] madhu1707 commented on #125
@yangkebiao : facing the same issue with spring cloud consul's refresh. Were you able to fix the issue?

[2019-04-19 09:47] lp0601 commented on #125
Is the issue fixed?

[2019-04-30 10:28] bedla commented on #123
It seems that Jasypt CLI default `ivGeneratorClassname` is `null` (and cannot be recofigured), result of this is that default value equals to `org.jasypt.salt.RandomIVGenerator` (not Noop IV generator), compare [boot-jasypt implementation](https://github.com/ulisesbocchio/jasypt-spring-boot/blob/jasypt-spring-boot-parent-2.1.1/jasypt-spring-boot/src/main/java/com/ulisesbocchio/jasyptspringboot/enc

[2019-05-05 20:36] menikapalli opened #127 "java.security.NoSuchProviderException: no such provider: SunJCE"
Can you please help me to solve this issue..

I'm using ibm-jdk8.

I get the below exception when I am trying to create Bean.

	@Bean(name = "defEncryptorBean")
	public StringEncryptor defaultEncryptorBean(DatabaseProperties databaseProperties) {
		PooledPBEStringEncryptor encryptor = new PooledPBEStringEncryptor();
		SimpleStringPBEConfig config = new SimpleStringPBEConfig();
		config.setPassword

[2019-05-06 13:45] nav16011991 commented on #63
I am using spring cloud config server ( version : Greenwich.SR1) with jasypt which is working fine. But when i use this server to fetch configuration for other service (with jasypt-spring-boot-starter:2.1.0), It throw following ERROR (not exception)
java.lang.AbstractMethodError
	at org.springframework.core.OrderComparator.findOrder(OrderComparator.java:142)
	at org.springframework.core.annotation

[2019-05-10 12:05] LeenuV commented on #11
Its not work for me.

[2019-05-14 05:49] dolcevitaforever opened #128 "Failed to bind properties under 'spring.datasource.password' to java.lang.String"
hi，my project
Use 2.1.1 for(jasypt-spring-boot-starter)，Spring Boot Version: 2.1.2.RELEASE
and has used @SpringBootApplication.  JDK8
my config file content is
spring.datasource.username=root
spring.datasource.password=ENC(o6tc7zDeH66nmMOQwWalge445Or4Kl3l7bAmjs9y7GI=)

but i have got the exception:
2019-05-14 13:43:26.608 [main] ERROR o.s.boot.web.embedded.tomcat.TomcatStarter -
				Error starting

[2019-05-14 15:46] sathish593 commented on #62
@ulisesbocchio we are also facing same issue, we tried by adding StandardEncryptableEnvironment, but still jasypt is not decrypting properties on /refresh, it is serving encrypted string. is there any other fix for this?
@h-saxena can you please share your code snippet which may help us. Thank you.

[2019-05-15 10:24] fangsj opened #129 "package jar not work, but ide working"
When i use IDES can run, but package jar not work, why? It doesn't seem to be initialized, or it's later than the Druid data source initialization！

[2019-05-16 03:20] #129 closed

[2019-05-16 04:42] zhangzhaoyu opened #130 "Can jasypt-spring-boot support some AES algorithm ？"
Hi, Can jasypt-spring-boot support some AES algorithm ？how can I set jasypt.encryptor.algorithm?

[2019-05-16 05:46] liguoshuai opened #131 "Jasypt uses ConcurrentHashMap to cause cpu 100%"
Thread 6988: (state = IN_JAVA)
 - java.util.concurrent.ConcurrentHashMap.computeIfAbsent(java.lang.Object, java.util.function.Function) @bci=475, line=1718 (Compiled frame; information may be imprecise)
 - org.springframework.cache.concurrent.ConcurrentMapCache.get(java.lang.Object, java.util.concurrent.Callable) @bci=14, line=144 (Compiled frame)
 - com.ulisesbocchio.jasyptspringboot.caching.Cach

[2019-05-17 16:47] chrylis opened #132 "Getting-started documentation in README"
The main README suggests inserting property entries like this:

[code]

However, Spring Boot's property binding already handles this internally, and these entries appear to be redundant.

[2019-05-19 08:09] nav16011991 commented on #112
Please use following code in your main method:
new SpringApplicationBuilder()
        .environment(new StandardEncryptableEnvironment())
        .sources(MasterDataManagementService.class).run(args);

[2019-05-21 09:50] yonghao9531 opened #133 "jasypt-spring-boot-starter 2.1.1 spring.profiles.active Unable to load"
jasypt-spring-boot-starter 2.1.1 spring.profiles.active Unable to load
bootstrap.yml
spring:
  profiles:
    active: dev,redis
application-redis.yml
spring:
  redis:
    password: ENC(UEey4QnMF1P1VVwIWGkTug==)

RedisSystemException, Error in execution; nested exception is io.lettuce.core.RedisCommandExecutionException: NOAUTH Authentication required

[2019-05-24 14:03] nischayreddy commented on #112
@nav16011991 Will this change any behavior of application except not updating the passwords?.

[2019-06-01 01:00] xiongyayun428 opened #134 "EnableEncryptablePropertiesBeanFactoryPostProcessor.onApplicationEvent() run twice"
com.ulisesbocchio.jasyptspringboot.configuration.EnableEncryptablePropertiesBeanFactoryPostProcessor.onApplicationEvent() run twice

[2019-06-18 04:08] yuanjinyong commented on #133
This issue is cause by jasypt-spring-boot have conflict with spring-cloud-context-2.0.3.RELEASE.
In spring-cloud-context-2.0.3.RELEASE, have the follow change:
org\springframework\cloud\bootstrap\BootstrapApplicationListener.java
[code]
to
[code]

And after use jasypt, the "PropertySource<?> source" instance will be "com.ulisesbocchio.jasyptspringboot.wrapper.EncryptableMapPropertySourceWrapper",

[2019-06-18 09:55] gitmykeul opened #135 "jasypt encryption in bootstrap.yml"
Hi,
I have jasypt-spring-boot-starter in my dependencies.
I have the --jasypt.encryptor.password as a program argument.
I am also using the StandardEncryptableEnvironment:

[code]
Encrypted properties in application.yml work fine.
However encrypted properties do not work in bootstrap.yml
(I want to encrypt password to connect to config server).

Is it possible to use encryption at the bootstrap le

[2019-06-18 16:08] ulisesbocchio commented on #135
As far as I know bootstrap.xml loads it’s own application context not shared with your application context. There might be a way though through a similar mechanism as spring.factories where you can tap in that context. I don’t know from the top of my head how to do it.
I’ll dig around and see if I can give you more hints

[2019-06-19 07:01] gitmykeul commented on #135
Thanks!

[2019-06-19 11:55] anderius commented on #128
For security reasons, the actual exception is masked.

You will probably find the answer by debugging `org.jasypt.encryption.pbe.StandardPBEByteEncryptor#decrypt` (or whatever Encryptor you use).

[2019-06-21 10:45] muralimmk opened #136 "Decryption issue with PBEWithHMACSHA512AndAES_256 algorithm"
`Exception in thread "main" org.jasypt.exceptions.EncryptionOperationNotPossibleException
	at org.jasypt.encryption.pbe.StandardPBEByteEncryptor.decrypt(StandardPBEByteEncryptor.java:1055)
	at org.jasypt.encryption.pbe.StandardPBEStringEncryptor.decrypt(StandardPBEStringEncryptor.java:725)
	at com.xxxx.xxxx.xxx.core.App.decrypt(App.java:42)
	at com.xxxx.xxxx.xxx.core.App.main(App.java:20)`

I am g

[2019-07-02 17:22] mhp0rtal opened #137 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => jasypt-spring-boot/src/main/java/com/ulisesbocchio/jasyptspringboot/encryptor/SimplePBEByteEncryptor.java: Line number => 76: API name => Cipher:<BR> File name => jasypt-spring-boot/src/main/java/com/ulisesbocchio/jasyptspringboot/encryptor/SimplePBEByteEncryptor.java: Line number => 38: API name => Cipher:<BR> File name => j

[2019-07-02 19:49] ulisesbocchio commented on #137
Thank you. Care to produce a pull request for those ?

On Tue, Jul 2, 2019 at 10:22 AM mhp0rtal <notifications@github.com> wrote:

[2019-07-04 05:00] nishiichinoe opened #138 "Password is not ASCII"
I started to use Jasypt in spring-boot with the maven dependency:

[code]

My spring-boot starter class has these annotations:

[code]

I encrypted my password like this:

[code]

and added the property like this to my application.properties:

`server.ssl.key-store-password: ENC(jasyptEncString)`

At start I have this command line argument: `--jasypt.encryptor.password=mySecret`

But it is failing

[2019-07-09 14:38] DavidWhom commented on #128
@dolcevitaforever I got this exception too. How do u slove this problem later. Can u help me .. thank u

[2019-07-10 01:32] DavidWhom opened #139 "About Spring Boot using jasypt"
I used jasypt-spring-boot to protect my password, but I got the error "Failed to bind properties under 'spring.datasource.password' to java.lang.String". This error may relate to [issues#128](https://github.com/ulisesbocchio/jasypt-spring-boot/issues/128), however I have't got any useful by debug.
1、the maven repository about jaspyt-spring-boot-start‘ s version is 2.1.1
2、I did as your document an

[2019-07-17 07:53] ChenXiaoTemp opened #140 "if the property contains a placeholder, it can not be parsed."

[2019-07-17 07:54] ChenXiaoTemp commented on #140
for example:
test.password: ENC(asdfasdfasdf)
test.password1: ${test.password}

then , the test.password1 can not be parsed.

[2019-07-17 09:13] jep555 opened #141 "Jasypt & jhipster : path.home is not configured"
I would like to use jasypt encryption in a jhipster project (generated with jhipster 5.7.0, using spring-boot 2.0.6)

But adding the jasypt dependency causes an error on start up.

The project in deployed on kubernetes with prod profile, not any errors on local machine using dev or prod profile.

The dependency :

[code]

The config:

SPRING_DATA_JEST_URI :
SPRING_DATA_ELASTICSEARCH_PROPERTIES_PAT

[2019-07-17 09:15] LinggaAskaEdo commented on #81
Please re-open this ticket.

I'm using:
spring-boot-starter-parent : 1.5.21.RELEASE
jasypt-spring-boot-starter : 2.0.0
weblogic : 12c

This my application.properties
![image](https://user-images.githubusercontent.com/8762781/61363361-14e77600-a8ae-11e9-85db-d7258387cbcc.png)

[2019-07-17 14:23] LinggaAskaEdo opened #142 "jasypt-spring-boot-starter causes error when trying to deploy to weblogic 12c"
Hi,

I'm building a spring boot war file and trying to deploy it on weblogic 12c and it throws following error.

Unable to access the selected application.
Message icon - Error String index out of range: 4513
Message icon - Error String index out of range: 4513
Message icon - Error String index out of range: 4513

I'm using:
spring-boot-starter-parent : 1.5.21.RELEASE
jasypt-spring-boot-starter :

[2019-07-27 08:59] poomcyber commented on #101
0

I have had the same problem on spring boot 2.1.3. But I found out later it was just my silly case. I just understand it wrong between "input" and "password" parameter meaning. When I encrypt on Command prompt I thought "input" means key then I swap value between two of them when I run the application.

So, remember:

If this is not your root cause, another thing to consider is when you encrypt

[2019-07-30 02:51] thapld opened #143 "Can not decrypt default expose parameter spring boot yaml"
I have a config:
`secret:
  username: ${ABC:ENC(r3tFbUiZhdnGmjEUvD1p6Q==)}`

And jasypt return **ENC(r3tFbUiZhdnGmjEUvD1p6Q==)** when I get property
Can you help me? Thank you so much.

[2019-07-31 07:43] crazythinking commented on #128
root cause:
if you debug into org.jasypt.encryption.pbe.StandardPBEByteEncryptor#decrypt, you will find the real exception is "javax.crypto.BadPaddingException: Given final block not properly padded"; that cause you maybe generate encryptor by "com.melloware.jasypt 1.9.4", so you need use "org.jasypt.jasypt 1.9.3"

[2019-07-31 18:13] prakashiit commented on #97
Any updates on **why** of this issue and **how** to fix this? My project runs fine with` jasypt-spring-boot-starter 2.0.0` but fails on `2.1.1`. I need to use the latest version as I want to use the stronger algorithms for encryption and decryption.

[2019-08-02 11:57] cash1981 opened #144 "Error creating bean with name 'textEncryptor' in org/springframework/cloud/bootstrap/encrypt/EncryptionBootstrapConfiguration"
For some strange reason I get this error on our DEV servers. However, when we run the same application on our local machines it works fine.

I get the same problem as this one: [https://stackoverflow.com/questions/52367004/spring-boot-jasypt-fails-to-build](https://stackoverflow.com/questions/52367004/spring-boot-jasypt-fails-to-build)

`2019-08-02 13:40:35,963 [main] [,,]   ERROR o.s.boot.SpringA

[2019-08-02 12:01] cash1981 commented on #144
These are my dependencies

[code]

[2019-08-07 09:41] mwiede commented on #143
I faced the same issue and found #75 which describes the same. See the workaround there.

[2019-08-08 11:47] mwiede commented on #75
the solution has one problem: if you have different master passwords for the `defaultPassword` and the encrypted password passed in as `DB_PASSWORD`, then the decryption will fail, because both values are tried being resolved.

[2019-08-13 05:34] chriswhite199 commented on #131
Seeing the same issue, occasionally my spring boot app hangs on startup and inspecting top + jps shows the following:

# top:
100% CPU for Java process

# jps:

[code]

# Env:
[code]

[2019-08-13 16:43] joshua-baton opened #145 "Melloware Jasypt uses a very old snapshot of Jasypt"
As far as I can tell the melloware version of Jasypt, which this codebase is now using, is a 3 year old copy of the jasypt codebase from the sourceforge SVN server.  If I am wrong here please correct me.  If I am correct, could someone please explain the logic behind building higher level encryption support on top of this instead of on top the official jasypt guthub repo?  My project uses this lib

[2019-08-14 00:39] pgi-jsanchez opened #146 "Melloware Jasypt 1.9.4 encrypted outputs fails but Jasypt 1.9.3 works"
Greetings.

I did a test with both versions and using the same spring boot project and jaspypt-spring boot version 2.1.1. I used PBEWITHSHA1ANDRC2_40 algorithm it's one of them that works in both jasypt cli versions. It turns out, that for some reason the encrypted output from the Melloware cli does not work properly with this project and gives throws a DecryptionException: Decryption of Propertie

[2019-08-14 16:39] chriswhite199 commented on #131
Looking over my own stack trace - i can see the lock trying to be acquired twice:

[code]

So the issue is there appears to be a race condition somewhere in the code, as this sometimes works without issue, and sometimes hangs up

[2019-08-14 21:24] callmepills commented on #122
I am facing similar issue when trying to expose additional details via info actuator. In other non-Jasypt projects, I am able to define these environment variables as upper case with underscores in order to take advantage of the relaxed bindings.

[code]

For now, I am just mapping the properties in `application.yml`:

[code]

[2019-08-15 16:38] pragmaticway opened #147 "@Autowired is not injecting default StringEncryptor in version 2.*.*"
When I'm trying to inject default StringEncryptor instance, it works only for versions prior 2.*.

Here is the dependency/code:
[code]
Config fragment:
[code]

Code:
[code]

When I upgrade to version 2.1.1:
[code]

Getting error:

Why it doesn't work?

[2019-08-23 15:32] chriswhite199 commented on #131
Not that this is related, but posting here for relevance:

https://stackoverflow.com/questions/28840047/recursive-concurrenthashmap-computeifabsent-call-never-terminates-bug-or-fea

[2019-08-26 06:39] patpatpat123 opened #148 "Not possible: spring.cloud.config.password=${SPRING_CLOUD_CONFIG_PASS:ENC(xXxXxXx)}"
Hello Jasypt Team,

First of all, a big thank you for this very cool project.
I am a bit confused by this issue:

If I do
spring.cloud.config.password=myPasswordInClear
It is obviously working.

If I do
spring.cloud.config.password=ENC(xXxXxXx)
It is obviously working, thanks to your cool project.

If I do
spring.cloud.config.password=${SPRING_CLOUD_CONFIG_PASS:myPasswordInClear}
It is also workin

[2019-08-29 00:09] muthusankar54 opened #149 "failed to decrypt"
Hi UB/Team,

         Currently, am using the version of Jaspyt 2.1.0  it's failed to decrypt the encrypted which I was confgures in the application.properties, and for the simple Encryption purpose I used PooledPBEStringEncryptor and returning the StringEncryptor object. when it's tried to decrypt in  @Value("${test.key}") in service, it's failed.

and I am not able to find the method **setIvGene

[2019-09-03 10:46] 120011676 opened #150 "springboot 2.2.0.M5 invalid"
springboot 2.2.0.M5 invalid

jasypt:
  encryptor:
    private-key-format: pem
    private-key-location: secret/private.pem

Error starting ApplicationContext. To display the conditions report re-run your application with 'debug' enabled.
2019-09-03 18:34:31.272 ERROR 70244 --- [  restartedMain] o.s.b.d.LoggingFailureAnalysisReporter   :

***************************
APPLICATION FAILED TO START
****

[2019-09-05 13:10] membersound opened #152 "Support kebab-case application properties for jasypt.encryptor.privateKey*"
It should be possible to provide the private-key properties as follows:
[code]

Instead only the following format is possible:
[code]

In fact, it would be best if the same relaxed-binding defaults would apply to jasypt config:
https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html#boot-features-external-config-relaxed-binding

But at least kebeb-case sho

[2019-09-06 17:12] jbarton-ysg opened #154 "Failed to bind properties under 'spring.datasource.password' to java.lang.String`"
getting several errors I have tried setting this up with first option it says

"encryptable properties will be enabled across the entire Spring Environment "

I am not sure where to put the password or how it knows what the password is to decrypt it

I have the encoded input in my property file like so

`spring.datasource.password=ENC(du+QBwMsZb4kXSQI/eIL1RU46vtOgYZU)`

`Caused by: org.springframe

[2019-09-06 17:54] jbarton-ysg commented on #154
figured it out have to set as environment variable

[2019-09-06 18:01] jbarton-ysg commented on #154
t works if I set this  `jasypt.encryptor.password` in property file but then that defeats the purpose
still cannot figure out how to make this work

i

[2019-09-06 20:24] jbarton-ysg commented on #154
Have tried this `export JAVA_OPTS="jasypt.encryptor.password=password` but still does not work only works if I put it in the application.properties file

[2019-09-07 02:09] curtistee commented on #154
Try adding it as an argument when running your app; e.g.
-Djasypt.encryptor.password={my
password} & see if that works.

On Fri, Sep 6, 2019 at 1:24 PM jbarton-ysg <notifications@github.com> wrote:

[2019-09-07 11:36] melloware commented on #146
This PR https://github.com/ulisesbocchio/jasypt-spring-boot/pull/151 will fix it by updating to Jasypt 1.9.3.

Mine was a temporary fix to get PBEWITHHMACSHA512ANDAES_256 working and provide it.  Not all new encryption types I believe were testing.

[2019-09-07 11:40] melloware commented on #145
@joshua-baton Jasypt did not do a release in 5 years (since late 2013).  Jasypt 1.9.2 did not support JDK8 or any of the higher level of encryption like PBEWITHHMACSHA512ANDAES_256.  So we forked it and made the fixes allowing it to work with JDK8 and the new higher encryption levels.

Multiple attempts to contact the Jasypt authors over the years were getting no response in fact to the point ther

[2019-09-07 11:43] melloware commented on #136
I use 2.1.1 and it works fine.

Don't forget to set the IVgenerator property.

[2019-09-07 11:45] melloware commented on #130
Yes using 2.1.1 you can use PBEWITHHMACSHA512ANDAES_256

jasypt.encryptor.password | True | -
-- | -- | --
jasypt.encryptor.algorithm | False | PBEWITHHMACSHA512ANDAES_256
jasypt.encryptor.keyObtentionIterations | False | 1000
jasypt.encryptor.poolSize | False | 1
jasypt.encryptor.providerName | False | SunJCE
jasypt.encryptor.providerClassName | False | null
jasypt.encryptor.saltGeneratorClassnam

[2019-09-07 11:47] melloware commented on #149
This property
[code]

Is only available in 2.1.1 not 2.1.0 which you are using.

[2019-09-08 01:48] #145 closed

[2019-09-08 02:02] ulisesbocchio commented on #152
I noticed that didn't work and I really don't know why... `DefeaultLazyEncryptor#createAsymmetricDefault` is retrieving the config using kebab if you take a look:
[code]
I'll dig into it

[2019-09-08 02:03] ulisesbocchio commented on #148
will be fixed in the next release

[2019-09-08 02:03] #148 closed

[2019-09-08 02:04] ulisesbocchio commented on #140
fixed in master, will release soon

[2019-09-08 02:04] #140 closed

[2019-09-08 02:06] ulisesbocchio commented on #138
did you figure it out?

[2019-09-08 02:06] ulisesbocchio commented on #136
thanks @melloware

[2019-09-08 02:06] #136 closed

[2019-09-08 02:08] ulisesbocchio commented on #123
IV generator was rolled back to original Jasypt, this should be fixed in next release

[2019-09-08 02:08] #123 closed

[2019-09-08 02:18] ulisesbocchio commented on #134
fixed in next release

[2019-09-08 02:18] #134 closed

[2019-09-08 02:27] ulisesbocchio commented on #139
sorry for the late response, do you have any sample code to understand your issue?

[2019-09-08 02:29] ulisesbocchio commented on #132
I am aware, and although that particular example seems redundant, it helps understand that you can map it to any other ENV variable you desire:
[code]

[2019-09-08 02:29] #132 closed

[2019-09-08 02:32] ulisesbocchio commented on #131
Interesting... never seen this problem before... OpenJDK related maybe? Concurrent hash map should be race condition free....did you try JDK 12?

[2019-09-08 02:32] ulisesbocchio commented on #130
thanks @melloware

[2019-09-08 02:32] #130 closed

[2019-09-08 02:33] ulisesbocchio commented on #128
next release will go back to jasypt 1.9.3 and this should be fixed

[2019-09-08 02:33] #128 closed

[2019-09-08 02:43] ulisesbocchio commented on #135
this should work with the starter jar and property:
[code]

[2019-09-08 02:43] #135 closed

[2019-09-08 02:54] ulisesbocchio commented on #124
should be fixed next release. Checkout https://github.com/ulisesbocchio/jasypt-spring-boot-samples/blob/master/jasypt-spring-boot-demo-ivgenerator/src/main/java/demo/SimplePBEWITHHMACSHA512ANDAES_256DemoApplication.java

[2019-09-08 02:54] #124 closed

[2019-09-08 02:56] ulisesbocchio commented on #127
You need to add the JCE policies to your JDM or use a different one: https://www.oracle.com/java/technologies/jce8-downloads.html

[2019-09-08 02:56] #127 closed

[2019-09-08 02:57] ulisesbocchio commented on #125
haven't fixed this... I'm gonna need a sample app where the problem shows... can you provide?

[2019-09-08 03:00] ulisesbocchio commented on #141
can you provide a sample jhipster app where this shows?

[2019-09-08 03:03] ulisesbocchio commented on #133
Thanks @yuanjinyong will add encryptable equivalent on next release

[2019-09-08 05:27] ulisesbocchio commented on #154
@jbarton-ysg the property is named `jasypt.encryptor.password`, with relaxed bindings you can set an env var with name `JASYPT_ENCRYPTOR_PASSWORD`. If you really wanna call it `APP_ENCRYPTION_PASSWORD` you can set in your `application.properties`:
[code]
And **THEN** set the ENV var `APP_ENCRYPTION_PASSWORD`

[2019-09-08 05:31] ulisesbocchio commented on #150
We'll add support soon

[2019-09-08 05:31] #150 closed

[2019-09-08 05:31] ulisesbocchio commented on #149
thanks @melloware

[2019-09-08 05:31] #149 closed

[2019-09-08 05:36] ulisesbocchio commented on #147
Check this out: https://github.com/ulisesbocchio/jasypt-spring-boot-samples/blob/master/jasypt-spring-boot-demo-simple/src/test/java/demo/SimpleDemoApplicationTest.java

[2019-09-08 05:36] #147 closed

[2019-09-08 05:37] ulisesbocchio commented on #146
we're going back to jasypt 1.9.3 in next release

[2019-09-08 05:37] #146 closed

[2019-09-08 06:11] ulisesbocchio commented on #144
Look at the code in `EncryptionBootstrapConfiguration`. It seems that you're matching this condition:
[code]
But then your properties aren't binding to `KeyProperties`

[2019-09-08 06:12] ulisesbocchio commented on #143
will be fixed in next release

[2019-09-08 06:12] #143 closed

[2019-09-08 06:13] ulisesbocchio commented on #142
Can't tell without more detailed stack trace and/or a sample app. Any more details?

[2019-09-08 06:16] ulisesbocchio commented on #121
we're going back to jasypt-1.9.3 in next release

[2019-09-08 06:16] #121 closed

[2019-09-08 07:08] ulisesbocchio commented on #98
should work as expected: https://github.com/ulisesbocchio/jasypt-spring-boot/blob/master/jasypt-spring-boot/src/test/java/com/ulisesbocchio/jasyptspringboot/filter/DefaultPropertyFilterTest.java

[2019-09-08 07:08] #98 closed

[2019-09-08 07:37] ulisesbocchio commented on #114
will be in next release

[2019-09-08 07:37] #114 closed

[2019-09-08 08:13] ulisesbocchio commented on #122
I dug a bit on this and according to the documentation (https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html#boot-features-external-config-relaxed-binding) property: `acme.my-project.person.first-name` has the following relaxed bindings:

Property | Note
-- | --
acme.my-project.person.first-name | Kebab case, which is recommended for use in .properties 

[2019-09-08 08:13] #122 closed

[2019-09-08 08:46] ulisesbocchio commented on #152
should be fixed next release. Checkout the tests: https://github.com/ulisesbocchio/jasypt-spring-boot-samples/tree/master/jasypt-spring-boot-demo-simple-asymmetric/src/test/java/demo

[2019-09-08 08:46] #152 closed

[2019-09-09 05:23] nishiichinoe commented on #138
It's a while ago, but as far as I remember I had to write the password clear into the property file and at the first startup of the application it got encrypted. After that everything was fine.

[2019-09-09 06:29] ulisesbocchio commented on #138
Ok, I’m gonna close this issue then. Feel free to reopen or create a new one if you see that again

[2019-09-09 06:29] #138 closed

[2019-09-09 13:12] jbarton-ysg commented on #17
I've tried this and it is not loading the password

[2019-09-09 13:34] jbarton-ysg commented on #154
I think I got it to work tomcat still having trouble starting tho

[2019-09-09 13:41] jbarton-ysg commented on #154
getting errors on startup

` Initializing Default Property Resolver
2019-09-09 13:40:33.406  INFO 6339 --- [           main] c.u.j.d.DefaultLazyPropertyDetector      : Property Detector custom Bean not found with name 'encryptablePropertyDetector'. Initializing Default Property Detector
2019-09-09 13:40:33.576  INFO 6339 --- [           main] c.u.j.encryptor.DefaultLazyEncryptor     : String Encry

[2019-09-09 13:47] patpatpat123 commented on #148
Hello,

Thank you for your comment.
Looking forward to the next  (2.1.3?) version.

[2019-09-09 14:07] jbarton-ysg commented on #154
what is the best way to make this work with tomcat?

[2019-09-09 14:27] jbarton-ysg commented on #154
I don't see then authentication error but am getting this after adding jasypt.encryptor.password=${JASYPT_ENCRYPTOR_PASSWORD}

and doing
`export JASYPT_ENCRYPTOR_PASSWORD=local'

local is my local db test password

`09-Sep-2019 14:21:22.891 WARNING [main] org.apache.catalina.core.StandardServer.await The socket listening for the shutdown command experienced an unexpected timeout [97,515] milliseco

[2019-09-09 14:27] ulisesbocchio commented on #148
2.1.2 is the new release. It's already out

On Mon, Sep 9, 2019 at 6:47 AM patpatpat123 <notifications@github.com>
wrote:

[2019-09-09 16:09] jbarton-ysg commented on #154
it only works if I have
jasypt.encryptor.password=local in my property file using environment variable causes application not to load

[2019-09-09 17:35] jbarton-ysg commented on #154
I think the issue is I get this when trying to use the system environment variable

`Property Resolver custom Bean not found with name 'encryptablePropertyResolver'. Initializing Default Property Resolve`

[2019-09-09 18:22] jbarton-ysg commented on #154
I don't think spring boot is reading environment variables from my property file do I need to do anything to enable this?

[2019-09-09 20:32] pgi-jsanchez commented on #146
Following this thread, I tried to encrypt with those parameters and here is the result.

sh encrypt.sh saltGeneratorClassName=org.jasypt.salt.RandomIVGenerator algorithm=PBEWITHHMACSHA512ANDAES_256 input=test password=testing

----ENVIRONMENT-----------------

Runtime: Oracle Corporation OpenJDK 64-Bit Server VM 25.171-b10

----ARGUMENTS-------------------

input: test
algorithm: PBEWITHHMACSHA512

[2019-09-09 20:54] jbarton-ysg commented on #154
I need to run this with tomcat

[2019-09-09 20:55] jbarton-ysg commented on #154
I've tried this but seems its not reading my environment variable
I can echo it in the console tho

[2019-09-10 00:33] thorntonrp opened #156 "Version 2.1.2 throws exception on /env actuator for unresolvable properties"
[demo-jasypt.zip](https://github.com/ulisesbocchio/jasypt-spring-boot/files/3593081/demo-jasypt.zip)

Version 2.1.2 breaks the /env actuator endpoint on all of my applications.

In the attached demo project, the presence of `jasypt-spring-boot-starter` causes `DemoAppplicationTests` to fail whereas removing it or backing it down to version 2.1.1 allows the test to succeed. The error on 2.1.2 occur

[2019-09-10 00:55] thorntonrp commented on #156
My debugging shows that `environment::resolveRequiredPlaceholders` from [DefaultPropertyResolver.java:38](https://github.com/ulisesbocchio/jasypt-spring-boot/blob/f8fa8a12190f3fe4f010aa49513a4670bba4d09a/jasypt-spring-boot/src/main/java/com/ulisesbocchio/jasyptspringboot/resolver/DefaultPropertyResolver.java#L38)  is to blame.

[code]
Instead of mapping `environment::resolveRequiredPlaceholders`,

[2019-09-10 11:53] melloware commented on #146
Change it to just..

[code]

[2019-09-11 22:57] chriswhite199 commented on #131
I did not try JDK 12, but refactoring my config to use a prefix for all encrypted properties has reliably mitigated the issue for the time being.

[2019-09-15 09:24] patpatpat123 commented on #148
Hello,

Confirm, tested and working with 2.1.2/
Much appreciated. good day!

[2019-09-16 10:01] littleSkylark opened #157 "the version 2.0.0 dependent spring-cloud M8 version"
![image](https://user-images.githubusercontent.com/21195704/64949267-652d8500-d8ab-11e9-9176-c4fc5abd8953.png)
I hope it can dependent a release version

[2019-09-17 00:06] ismailseyfi opened #158 "Recursive Update"
We are getting an exception with the most recent versions of boot starter and Java SDK 11 and 12 versions.

Do you know what may be happening here?

Caused by: java.lang.IllegalStateException: Recursive update
	at java.base/java.util.concurrent.ConcurrentHashMap.computeIfAbsent(ConcurrentHashMap.java:1739)
	at org.springframework.cache.concurrent.ConcurrentMapCache.get(ConcurrentMapCache.java:144)

[2019-10-15 16:36] j0rdanit0 opened #160 "jasypt-spring-boot-starter randomly prevents Spring Boot app from starting"
After adding the jasypt-spring-boot-starter maven dependency (version 2.1.2), approximately once out of every 8 starts of my Spring Boot app fails. No error logs are printed, it simply never starts up.

This behavior has never happened before adding the jasypt dependency, and now happens regularly (approximately 1/8 startups).

When comparing the logs of a successful start vs. those of a failed st

[2019-10-18 01:28] lunxian8 opened #161 "spring boot2.2.0： jasypt-spring-boot2.1.0 Failed to bind properties under"
Upgrading spring boot2.2.0 found that a reference to jasypt2.1 caused the spring-@configurationproperties injection configuration error

[2019-10-18 02:25] huxudong commented on #161
application.yml
add  proxy-property-sources: true

example:

[code]

[2019-10-25 03:25] zuoqi1993125 opened #162 "spring2.2 不兼容jasypt-spring-boot-starter 2.1.1"
![image](https://user-images.githubusercontent.com/33927898/67539401-9acc5600-f714-11e9-9822-9a569ba072ca.png)

[2019-10-25 03:29] zuoqi1993125 commented on #161
我加了这个配置,但是没有生效,依然绑定properties失败

[2019-10-28 08:52] NikolajLeischner commented on #158
As a workaround, you may try to replace @ConfigurationProperties with @Value annotations; in my case this got rid of the recursion.

[2019-10-28 09:22] NikolajLeischner commented on #131
This may be related to #158 - `CachingDelegateEncryptablePropertySource<T>.getProperty(String name)` apparently indirectly calls itself recursively, which leads to `ConcurrentHashMap.computeIfAbsent(...)` being called recursively, which isn't allowed and might cause the behavior observed here.

[2019-10-29 05:27] bjornharvold opened #163 "Properties in bootstrap.yml are ignored"
Thanks for a great Spring Boot starter. I tried this out for the first time today. Works great expect bootstrap.yml properties are completely ignore. Spring Boot app will fail if some code relies on properties in bootstrap.yml. This is where I used to inject the encryption key as it's the first file read by Spring Boot.

Cheers,
Bjorn

[2019-11-01 03:03] beeuday opened #165 "java.lang.NoClassDefFoundError: org/springframework/boot/context/properties/bind/PlaceholdersResolver"
I need to use the stronger algorithms for encryption and decryption. So I started using the latest version of Jasypt-Spring-boot 2.1.2 with spring boot 1.5.3 version application.

I am getting the following exception while starting the application

o.s.boot.SpringApplication - Application startup failed
java.lang.NoClassDefFoundError: org/springframework/boot/context/properties/bind/PlaceholdersRe

[2019-11-01 17:04] krm1312 commented on #131
Getting as this as well in Java 11.  In our case using Amazon's corretto build of OpenJDK.  Started happening after migrating to boot 2.2 and Java 11 (from 8 which never had this issue).

[2019-11-03 23:11] rupert-madden-abbott opened #167 "Use a stronger default PBE algorithm in Spring Boot 2+"
The current default PBE algorithm is PBEWithMD5AndDES.

As far as I can see, this algorithm is not really secure but, because it is the default, many people are likely to use it.

I know this algorithm is the default in Jasypt itself, which requires backwards compatibility to Java 6.

However, Spring Boot 2 requires Java 8 so would it be possible to set a stronger default algorithm for the Spring

[2019-11-04 01:28] ulisesbocchio commented on #167
Happy to take a PR with the change... thanks for the feedback and using the library :)

[2019-11-04 21:02] rupert-madden-abbott commented on #165
I'm not the owner but as far as I can see, version 2+ of jasypt-spring-boot-starter have hardcoded dependencies on classes that only exist in version 2+ of Spring Boot.

Therefore, it would seem that if you want to use version 2+ of jasypt-spring-boot-starter, you must also using version 2+ of Spring Boot.

It may be that if you want to use earlier versions of Spring Boot, then you must also use a

[2019-11-08 08:42] mpaetzold commented on #160
I experience almost the same. https://github.com/ulisesbocchio/jasypt-spring-boot/issues/131#issuecomment-548869404 might fix the issue.

[2019-11-16 04:27] JF950908 opened #169 "Can i use PasswordEnvName this properties."
Otherwise, password has been exposed. How to encrypt safely？

[2019-11-17 17:52] GitHubcaowei opened #170 "jasypt-spring-boot cause mybatis mapper not found"
Environment：spring boot1.5.6+tk.mybatis:mapper-spring-boot-starter1.1.0

once add lib
`<dependency>
          <groupId>com.github.ulisesbocchio</groupId>
          <artifactId>jasypt-spring-boot-starter</artifactId>
          <version>2.0.0</version>
      </dependency>`
Whether the yaml  file is configured or not yaml， when spring boot application start， there be errors in the console。
errors：
`A

[2019-11-19 12:15] membersound commented on #152
Any roadmap for getting this released?

[2019-11-19 13:02] hsilomedus commented on #131
Getting the same behavior with JDK8 and SpringBoot 2.1.9 on both Tomcat and Weblogic. The effects are both one CPU core usage of 100% and some applications hang indefinitely during deployment. Having that said, it was a blocker problem for us and maybe it should be treated as such even here.
The fix we did was a local build of the library under a different version with the fix mentioned in https:/

[2019-11-19 15:49] ulisesbocchio commented on #170
ca you check if SymmetricMapper is a PropertiesSource?

[2019-11-19 15:51] ulisesbocchio commented on #169
A bit of a cryptic message. Can you explain a bit more?
If I get this correctly, the recommended way is to put your decryption password in the ENV of the machine that's gonna do the decryption and nowhere else. The with Spring you can consume the ENV variable and feed it to the plugin

[2019-11-19 16:07] ulisesbocchio commented on #165
thanks @rupert-madden-abbott, that sounds about right. I'll update the compatibility section in the readme

[2019-11-19 16:09] ulisesbocchio commented on #163
bootstrap.yml loads in a completely different ApplicationContext. I'm not sure you can share properties between bootstrap.yml and the application. I'd have to dig a bit

[2019-11-19 16:10] ulisesbocchio commented on #162
I'm not an mybatis kind of guy. can you provide a code sample to investigate?

[2019-11-19 16:14] ulisesbocchio commented on #161
thanks @huxudong @zuoqi1993125
@lunxian8 was `proxy-property-sources` helpful?

[2019-11-19 16:15] ulisesbocchio opened #171 "Limit the amount of PropertySources converted/proxied by config"
allow configuration to skip certain PropertySource classes that cause issues

[2019-11-19 16:17] ulisesbocchio commented on #160
There's PR to fix this issue. I'll merge/release soon

[2019-11-19 16:17] ulisesbocchio commented on #158
There's PR to remove ConcurrentHashMap from the library. I'll merge/release soon

[2019-11-19 16:19] ulisesbocchio commented on #156
Thanks, can you do a PR?

[2019-11-20 01:06] lunxian8 commented on #161
added the `proxy - property - sources: true`
But there are still errors

[2019-11-24 18:36] #167 closed

[2019-11-25 01:48] ulisesbocchio commented on #165
Updated in release 3.0.0

[2019-11-25 01:48] #165 closed

[2019-11-25 01:50] ulisesbocchio commented on #163
This should be good in 3.0.0
For a full working example take a look at: https://github.com/ulisesbocchio/jasypt-spring-boot-samples/tree/master/jasypt-spring-boot-demo-cloud-config

[2019-11-25 01:50] #163 closed

[2019-11-25 01:50] ulisesbocchio commented on #160
fixed in 3.0.0

[2019-11-25 01:50] #160 closed

[2019-11-25 01:51] ulisesbocchio commented on #161
fixed in 3.0.0

[2019-11-25 01:51] #161 closed

[2019-11-25 01:51] ulisesbocchio commented on #158
fixed in 3.0.0

[2019-11-25 01:51] #158 closed

[2019-11-25 01:54] ulisesbocchio commented on #157
that's not a dependency, just a property. All dependencies except for jasypt are provided/test:
[code]

[2019-11-25 01:54] #157 closed

[2019-11-25 02:16] ulisesbocchio commented on #154
@jbarton-ysg can you try one of the apps here: https://github.com/ulisesbocchio/jasypt-spring-boot-samples and check/compare with your code. It should be pretty straightforward.
For `JAVA_OPTS` your passing it wrong. It should be:
[code]

[2019-11-25 02:18] ulisesbocchio commented on #142
closing due to inactivity. re-open if you're still having issues

[2019-11-25 02:18] #142 closed

[2019-11-25 02:18] ulisesbocchio commented on #144
closing due to inactivity. re-open if you're still having issues

[2019-11-25 02:18] #144 closed

[2019-11-25 02:19] ulisesbocchio commented on #141
closing due to inactivity. re-open if you're still having issues

[2019-11-25 02:19] #141 closed

[2019-11-25 02:20] ulisesbocchio commented on #139
closing due to inactivity. re-open if you're still having issues

[2019-11-25 02:20] #139 closed

[2019-11-25 02:22] ulisesbocchio commented on #133
this should be solved in 3.0.0

[2019-11-25 02:22] #133 closed

[2019-11-25 02:25] ulisesbocchio commented on #131
fixed in 3.0.0

[2019-11-25 02:25] #131 closed

[2019-11-25 06:35] rwbykit opened #172 "Configuration properties cannot be refreshed dynamically when using this"
When I used Apollo as the config center, I changed the value of the attribute dynamically through the configuration center, but it didn't work. I checked the source code and found cache when after first acquired.  If I want to change the property value dynamically, what should I do ？

[2019-11-25 16:38] ulisesbocchio commented on #172
I'm not familiar with Apollo as a config server. Can you provide:
*  An example
* Your jasypt-spring-boot configuration
And make sure that:
* Apollo Server is invoking the `/refresh` endpoint on your application (Or you're calling it)
* Your configuration-accessing beans are annotated with `@RefreshScope`

`jasypt-spring-boot` adds this event listener when using `@EnableEncryptableProperties` or `

[2019-11-26 09:02] delor opened #173 "Library source does not match the bytecode for class in 3.0.0"
I was looking at 3.0.0 code when IntelliJ showed a warning that:

This is a bit concerning since jasypt is responsible for encrypting app secrets.

[2019-11-26 17:33] ulisesbocchio commented on #173
You probably need to refresh your project. EnableEncryptablePropertiesConfiguration is a jasypt-spring-boot class, not a jasypt one.

[2019-11-28 03:45] angiely1115 opened #174 "Algorithm “PBEWITHHMACSHA512ANDAES_256” not available，default Algorithm available"
org.jasypt.exceptions.EncryptionOperationNotPossibleException
	at org.jasypt.encryption.pbe.StandardPBEByteEncryptor.encrypt(StandardPBEByteEncryptor.java:1001)
	at org.jasypt.encryption.pbe.StandardPBEStringEncryptor.encrypt(StandardPBEStringEncryptor.java:655)
	at org.jasypt.encryption.pbe.PooledPBEStringEncryptor.encrypt(PooledPBEStringEncryptor.java:465)
	at com.ulisesbocchio.jasyptspringboot.

[2019-11-28 03:49] ulisesbocchio commented on #174
Not sure how to respond to this issue since all you did was to paste an exception...am I supposed to figure it out?
Why don’t you explain the issue you’re facing and how to reproduce it?

[2019-11-28 03:53] angiely1115 commented on #174
my JVM configuration：
-Djasypt.encryptor.algorithm=PBEWITHHMACSHA512ANDAES_256 -Djasypt.encryptor.iv-generator-classnam=org.jasypt.iv.RandomIvGenerator -Djasypt.encryptor.password=smart-framework -Djasypt.encryptor.provider-name=SunJCE

[2019-11-28 04:05] angiely1115 commented on #174
This configuration is available：
jasypt:
  encryptor:
   algorithm: PBEWITHHMACSHA512ANDAES_256
   ivGeneratorClassname: org.jasypt.iv.RandomIvGenerator
   providerName: SunJCE

[2019-11-28 04:06] #174 closed

[2019-11-28 14:05] duanhairuo commented on #162
this not jasypt problem, this zhe mybatis's !!!

[2019-12-02 05:23] rwbykit commented on #172
A simple springCloud application using Apollo config center
pom.xml
[code]
springmvc controller
[code]
bootstrap.yml
[code]
 You can open this connection http://106.54.227.205:8070/ using apollo/admin, search project rwbykit-test,  When I first call the rest API 'http://localhost:8080/api/get' to get the value of the 'test.value' property value, modify the value of the a 'test.value' propertyand s

[2019-12-03 03:34] testphreak opened #175 "jasypt-maven-plugin: Incorrect documentation"
Hi @rupert-madden-abbott and @ulisesbocchio, first off, thank you for providing a maven plugin for encrypting/decrypting secrets with jasypt. This is my first time using the plugin or Jasypt for that matter. So the feedback I am sharing below is from the context of a new user of your project(s).

Having said that, I am not entirely sure if you actually tested the documentation you provided for the

[2019-12-03 19:33] atifkrblkr commented on #154
@ulisesbocchio Apparently, the problem comes from EncryptionOperationNotPossibleException.
There seems to be a problem when I use the default encryptor bean.

The default encryptor bean uses "PBEWithHMACSHA512AndAES_256" algorithm. From documentation, I know for PBE-AES-based algorithms, the IV generator is MANDATORY. The IV Generator for this algorithm is RandomIvGenerator. RandomIvGenerator has

[2019-12-03 22:08] tomazj opened #176 "Decryption of properties failed in version 3.0.0"
Hi,

Thank you for the new release and maven plugin.
After upgrading from version 2.1.2. to version 3.0.0, I am having problems with configuration file decryption [password: ENC(***)]. The exception I am seeing at startup is as follows:

Caused by: com.ulisesbocchio.jasyptspringboot.exception.DecryptionException: Unable to decrypt: ENC(***). Decryption of Properties failed,  make sure encryption/d

[2019-12-04 05:15] #173 closed

[2019-12-04 05:24] ulisesbocchio commented on #172
Let me take a look at your stuff and I'll get back to you. Thanks for the details. Unfortunately there's no switch on/off for caching but you can definitely override the decryption bean and do your own thing. I'll see to add a flag in the future.
I didn't get a direct answer from you in regards of calling the `/refresh` endpoint. How are you triggering a "client refresh" after the config change?
A

[2019-12-04 06:02] ulisesbocchio commented on #154
@atifkrblkr I'm not sure i follow.  This is the custom encryptor bean from the sample project [jasypt-spring-boot-demo](https://github.com/ulisesbocchio/jasypt-spring-boot-samples/tree/master/jasypt-spring-boot-demo) which works just fine:
[code]
And uses `NoIvGenerator` and as you state from your piece of code from the PBE Byte encryptor:
[code]
where `includePlainIvInEncryptionResults` is `false

[2019-12-04 06:28] ulisesbocchio commented on #175
@testphreak:
1. Thanks, docs updated, you're right. 3.0.0 is the first version where the maven plugin is available
2. Not sure where you got `encrypt:encrypt` from, the doc states the correct goal [jasypt:encrypt](https://github.com/ulisesbocchio/jasypt-spring-boot#maven-plugin)
3. Noted, @rupert-madden-abbott can chime in here
4. Yes, people are using the jasypt jar to encrypt/decrypt since this

[2019-12-04 07:00] ulisesbocchio commented on #176
can you also add?
[code]

[2019-12-04 19:06] tomazj commented on #176
Hi Ulises Bocchio,

That configuration line solves my problem :)

Thank you very much for the quick and helpful reply.

[2019-12-04 19:09] #176 closed

[2019-12-05 03:36] rwbykit commented on #172
Thank you for your answer，Once again, I looked at the source code of Apollo and some previous versions of this project,  I found that caching was not used in version 2.0 of this project，but other versions used caching,  I'm sorry for what I said earlier, "when I use a version lower than 2.0, I can dynamically update the configuration through Apollo."   This is the code for getting property in vers

[2019-12-05 09:29] rupert-madden-abbott commented on #175
2. Apologies, the goal is stated several times but only the first one is correct. This is because I have ported this from a plugin we were using internally in my organisation and we named the plugin internally the "encrypt" plugin but I felt that wasn't the best name when pushing it back upstream in order to open source it. The correct goals all begin with "jasypt:" not "encrypt:" and I will raise

[2019-12-05 22:38] ulisesbocchio commented on #175
@rupert-madden-abbott, I think @testphreak is talking about the spring config... when you load the empty spring application inside with the encryption config provided is no loading the proper profile that has the encryption config.
@testphreak can you try adding an extra arg to the command `-Dspring.active.profiles=yourProfile` ?

[2019-12-06 01:32] testphreak commented on #175
@ulisesbocchio that's correct. The profile-specific config in the multi-document yaml doesn't seem to be getting picked up correctly by the plugin.

@rupert-madden-abbott here's what I see when I run the command -
[code]

Output -
[code]

[2019-12-06 02:24] ulisesbocchio commented on #175
I see, the profile is actually being picked up but @rupert-madden-abbott added some code to try to pick up profile specific files instead of multi-profile files. @rupert-madden-abbott i think we should check if the profile specific file exists before feeding that to the process, and only pass the profile-specific file if it indeed exists

[2019-12-09 02:11] bjornharvold opened #177 "Not able to decrypt using jasypt maven plugin with 3.0.0"
My application-local.properties file is located under ./src/main/resources.
Encryptor password is correct. The application starts fine and I can confirm the encrypted password is decrypted into its correct string.

I have not been able to get this utility to work.

[code]

[2019-12-10 16:42] afrancis-incomm commented on #154
I faced same issue when upgrading from 2.1.2 to 3.0.0. I guess the default algorithm has changed now. I tried what both of you suggested but my app only started when I used the beans that @atifkrblkr that defined in his comment above.

[2019-12-17 12:50] membersound opened #178 "Maven plugin - private key locations invalid?"
All of my `private-key-location` tests failed with the following error:

[code]

I tried the following `mvn` commands. None worked:

[code]

Sidenote: I'm already using `jasypt.encryptor.privateKeyLocation=file:${user.home}/.ssh/my_private_key.pem` with success in other spring-boot projects with jasypt.

[2019-12-17 14:33] membersound commented on #178
I don't know why, but suddenly it works with:
[code]

[2019-12-17 14:38] membersound opened #179 "Maven plugin - private key locations invalid?"
All of my `private-key-location` tests failed with the following error:

[code]

I tried the following `mvn` commands. None worked:

[code]

Sidenote: I'm already using `jasypt.encryptor.privateKeyLocation=file:${user.home}/.ssh/my_private_key.pem` with success in other spring-boot projects with jasypt.

[2019-12-17 14:38] membersound commented on #178
I accidentally closed this issue, will create it again under https://github.com/ulisesbocchio/jasypt-spring-boot/issues/179

[2019-12-17 14:39] membersound commented on #178
reopened

[2019-12-17 14:40] membersound commented on #179
I accidentially created this issue twice. Will close this one.

[2019-12-17 14:40] #179 closed

[2019-12-17 20:16] artnaseef commented on #131
Is there a known work-around, or some more detail around what causes this?  I have been using Jasypt version 2.1.2 without problem, but today I am hitting this problem reliably in one application.  It would be preferable to not get side-tracked on upgrading Jasypt right now.

Any help is appreciated.

[2019-12-19 17:47] DominikGeiger opened #180 "Jasypt ignores Custom StringEncryptor"
I try to use the Jasypt Framework to decrypt properties which will be used by frameworks like flyway.
Also I want to use my own DecryptorUtil which looks as follows:

[code]
this is implemented into my Spring Boot Application as follows:

[code]

Also note that my Configuration has the annotation
`@EncryptablePropertySources({ @EncryptablePropertySource("classpath:application.properties") })`

Deb

[2019-12-20 18:39] jzlima commented on #154
mee too!

[2019-12-21 04:37] yuanjinyong commented on #133
@ulisesbocchio Need update Spring cloud to Greenwich.SR3?

[2019-12-25 06:07] Adriansun commented on #178
I got this issue too when I tried the new maven-plugin. I encrypted the string in the prop file that I enclosed with "ENC(something)" and ran "mvn jasypt:encrypt -Djasypt.encryptor.password="the password". It went fine. It changed from ENC to DEC and the random password. Then I change "...:encrypt" to "...:decrypt" and ran it again and I am getting the same error. I did not use any location inform

[2019-12-25 07:08] Adriansun opened #181 "Request: Maven flag - Do not change the value special flag for maven plug-in build"
Request: Maven flag - Do not change the value special flag for maven plug-in build

The Maven plug-in is good. Thank you for that. I have a request. An additional flag would be great. As of now the maven plug-in and work flow seems to work like this:

1. Set one or several lines in application.properties to whatever=DEC(superSecret).
2. Run "mvn clean install jasypt:encrypt -Djasypt.encryptor.pass